.context-menu {
    z-index : 99999;
    position: absolute;
    background : var(--bs-gray-500);
    border-radius: 4px;
    font-size:12px;
    overflow: hidden;
}

.context-menu-action{
    padding: 4px 16px 4px 16px;
    min-width: 200px;
    cursor: default
}

.context-menu .context-menu-action:not(:first-child)  {
}
