<div class="row mb-3">

    <p *ngIf="!currentTags">
        Loading available tags ...
    </p>
    <div class="col-sm-9" *ngIf="currentTags">
        <ng-container *ngIf="currentTags.length > 0">
            <div class="form-floating">
                <select type="text" [(ngModel)]="selectedTagId" class="form-select">
                    <option *ngFor="let tag of currentTags" [value]="tag.identifier">{{tag.value}}</option>
                </select>
                <label>Tags</label>
            </div>

        </ng-container>

        <div class="p-1 text-danger" *ngIf="validationState['tag']">
            {{ validationState['tag'] }}
        </div>
        <ng-container>
            <p style="margin-top : 10px">
                &nbsp;&nbsp;&nbsp;
                <span *ngIf="currentTags.length === 0">No tag is defined yet.</span>
                    &nbsp; <a href="javascript:;" (click)="createNewTag()">Create a new tag</a>
            </p>
        </ng-container>

    </div>
</div>
