
.limit-length {
    display:block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 70px;
}

.better-placeholder::placeholder{
    color: var(--bs-gray-300);
}

.and-filter:hover {
    background : var(--bs-purple)
}

.btn-toolbar {
    padding-bottom: 0px;
}

.capture {
   // background: var(--bs-gray-300);
}

.soft-grey {
    background: var(--bs-gray-600);
}

.btn-toolbar > div {
    margin-bottom:8px;
}

.proxy-command-button button {
    width : 100px;
}


.search-completion {
    width : 500px;
    height: 400px;
    position : absolute;
    z-index: 9999;
    margin-top: 34px;
    left: 0px;
    background:var(--bs-gray-800);
    border-radius : 8px;

}
