<!-- <span>Filters</span> : &nbsp; &nbsp; -->
<div class="btn-toolbar" *ngIf="uiState" >


    &nbsp;
    &nbsp;<div class="btn-group proxy-command-button" role="group">
            <button [disabled]="!uiState.captureEnabled && !uiState.haltEnabled"
                    [hidden]="uiState.haltEnabled"
            class="btn btn-dark capture" aria-current="page" title="capture OS trafic" (click)="enableCapture()">
                <i class="fa fa-bolt text-success" style="font-size:16px" aria-hidden="true"></i>&nbsp;
                capture</button>
            <button [disabled]="!uiState.captureEnabled && !uiState.haltEnabled"
                    [hidden]="!uiState.haltEnabled"
            class="btn btn-dark capture" aria-current="page" title="halt traffic capture" (click)="haltCapture()">
                <i class="fa fa-pause text-danger" style="font-size:16px" aria-hidden="true"></i>&nbsp;
                capturing</button>
    </div>
    &nbsp;
    &nbsp;

    <div class="input-group">
        <div class="input-group-text bg-dark" id="btnGroupAddon"><i class="fa fa-search" aria-hidden="true"></i></div>
        <input type="text" class="form-control text-info better-placeholder"
               style="width:250px"
               placeholder="type filter, action, rules settings here" aria-label="Input group example"
               aria-describedby="btnGroupAddon">

        <div class="alert search-completion"  style="" >

        </div>
    </div>
    &nbsp;
    &nbsp;<div class="btn-group" role="group">

    <button *ngFor="let toolBarFilter of uiState.toolBarFilters; let i = index" type="button" href="javascript:;"

            (click)="selectFilter(toolBarFilter.filter)"
            [title]="toolBarFilter.filter.friendlyName"
            class="btn btn-dark" aria-current="page"
            [ngClass]=" {
            'active' : toolBarFilter.filter.identifier === uiState.viewFilter.filter.identifier,
             'bg-primary' : toolBarFilter.filter.identifier === uiState.viewFilter.filter.identifier && !ctrlKeyOn,
            'and-filter' :  uiState.viewFilter.filter.identifier  && ctrlKeyOn,
            'd-none' : i > 0,
            'd-xl-inline' : i > 0

             }"
    >{{ toolBarFilter.filter.shortName }}</button>

    <button *ngIf="selectedFilter" type="button" href="javascript:;"

            (click)="selectFilter(selectedFilter)"
            [title]="selectedFilter.friendlyName"
            class="btn btn-dark d-lg-none d-xl-inline " aria-current="page"
            [ngClass]=" {'active' : selectedFilter.identifier === uiState.viewFilter.filter.identifier,
            'bg-primary' : selectedFilter.identifier === uiState.viewFilter.filter.identifier && !ctrlKeyOn,
            'and-filter' :  uiState.viewFilter.filter.identifier  && ctrlKeyOn
            }"
    >{{ selectedFilter.shortName }} <i class="bi bi-pencil"></i></button>

    <button *ngIf="alwaysSelectedFilter && alwaysSelectedFilter.typeKind !== 'AnyFilter'" type="button" href="javascript:;"
            (click)="selectFilter(alwaysSelectedFilter)"
            [title]="alwaysSelectedFilter.friendlyName"
            class="btn btn-dark d-lg-block d-xl-none" aria-current="page"
            [ngClass]=" {'active' : alwaysSelectedFilter.identifier === uiState.viewFilter.filter.identifier,
            'bg-primary' : alwaysSelectedFilter.identifier === uiState.viewFilter.filter.identifier && !ctrlKeyOn,
            'and-filter' :  uiState.viewFilter.filter.identifier  && ctrlKeyOn
            }"
    >{{ alwaysSelectedFilter.shortName }}</button>


    <div class="btn-group" role="group" dropdown *ngIf="uiState.templateToolBarFilterModel">
        <button type="button" class="btn btn-dark dropdown-toggle" data-bs-toggle="dropdown" title="show more filters"
                aria-expanded="false" dropdownToggle>
            more
            <span class="d-none d-xxl-inline">filters</span>

        </button>
        <ul class="dropdown-menu bg-light text-primary" *dropdownMenu aria-labelledby="btnGroupDrop851">

            <li class=" d-lg-block d-xl-none" role="menuitem "  *ngFor="let toolBarFilter of uiState.toolBarFilters" >
                <a class="dropdown-item" href="javascript:;"
                   (click)="selectFilter(toolBarFilter.filter)"
                   [title]="toolBarFilter.filter.friendlyName">
                    {{ toolBarFilter.filter.friendlyName }}</a></li>


            <li class="divider dropdown-divider d-lg-block d-xl-none"></li>

            <li role="menuitem" *ngFor="let filter of uiState.templateToolBarFilterModel.quickFilters">
                <a class="dropdown-item" href="javascript:;"
                   (click)="createTemplateFilter(filter)">{{ filter.friendlyName}}</a>
            </li>

            <ng-container *ngIf="uiState.templateToolBarFilterModel.lastUsedFilters.length > 0 ">
                <li class="divider dropdown-divider"></li>
                <li role="menuitem" (click)="skipEvent($event)"><span
                    class="dropdown-item"><i>Last used filters</i></span></li>
                <li role="menuitem" *ngFor="let filter of uiState.templateToolBarFilterModel.lastUsedFilters">
                    <a class="dropdown-item small" href="javascript:;"
                       (click)="selectFilter(filter)">{{filter.friendlyName}}</a></li>
            </ng-container>

            <li class="divider dropdown-divider"></li>
            <li role="menuitem"><a class="dropdown-item" href="javascript:;" (click)="createCustomFilter()">Other
                filters</a></li>
            <li role="menuitem"><a class="dropdown-item" href="javascript:;" (click)="openManagedFilters()">Load saved
                filter (from computer)</a></li>
        </ul>
    </div>
    &nbsp;&nbsp;

    <div class="btn-group" role="group">
        <div class="btn-group" role="group" dropdown>
            <button id="btnGroupDrop851" type="button" class="btn btn-primary dropdown-toggle"
                    data-bs-toggle="dropdown"
                    aria-expanded="false" dropdownToggle>
            <span style="white-space: nowrap">
                <span *ngIf="uiState.viewFilter.sourceFilter.typeKind === 'AnyFilter'">
                    <span class="d-none d-xxl-inline">view per source</span>
                    <span class="d-xxl-none">source</span>
                        ({{uiState.templateToolBarFilterModel.agentFilters.length}})
                </span>
                <span class="limit-lengthd" *ngIf="uiState.viewFilter.sourceFilter.typeKind !== 'AnyFilter'">
                    {{uiState.viewFilter.sourceFilter.friendlyName}}
                </span>
            </span>
            </button>
            <ul class="dropdown-menu bg-light text-primary" *dropdownMenu>
                <li role="menuitem">
                    <a class="dropdown-item" href="javascript:;" (click)=" resetSourceFilter()">
                        <i class="fa fa-check" *ngIf="isSourceFilterEmpty()"></i>
                        All sources</a>
                </li>
                <li class="divider dropdown-divider"
                    *ngIf="uiState.templateToolBarFilterModel.agentFilters.length > 0"></li>
                <li role="menuitem" *ngFor="let agentFilter of uiState.templateToolBarFilterModel.agentFilters">
                    <a class="dropdown-item" href="javascript:;" (click)="applySourceFilter(agentFilter)"
                       [ngClass]="{'text-gray-300' : !isSourceAgentSelect(agentFilter)}">
                        <!--                    <i class="fa fa-check" *ngIf="isSourceAgentSelect(agentFilter)"></i>-->
                        <i [ngClass]="SourceAgentIconFunc(agentFilter.friendlyName)"></i>
                        {{ agentFilter.friendlyName }}</a></li>
            </ul>
        </div>
    </div>
    &nbsp;
</div>
    &nbsp;
    &nbsp;
    &nbsp;
    <div class="btn-group" role="group">

        <div class="btn-group" role="group" dropdown>
            <button type="button" class="btn btn-dark dropdown-toggle" data-bs-toggle="dropdown"
                    aria-expanded="false" dropdownToggle>
                <i class="fa fa-bug text-warning" aria-hidden="true"></i>&nbsp;
                <span class="d-none d-xxl-inline ">live edit</span>
            </button>
            <ul class="dropdown-menu bg-light text-primary" *dropdownMenu>
                <li role="menuitem">
                    <a class="dropdown-item" href="javascript:;" (click)="catchAll()">
                        all traffic</a></li>
                <li role="menuitem">
                    <a class="dropdown-item" href="javascript:;" (click)="catchWithFilter()">
                        catch with filter</a></li>
                <li class="divider dropdown-divider"></li>
                <li role="menuitem">
                    <a class="dropdown-item" href="javascript:;" (click)="showActiveLiveEditFilters()">
                        Show active live edit filters</a></li>
            </ul>
         </div>
        <button type="button" href="javascript:;"
                title="halt live edit and resume all pending exchanges"
                [disabled]="!(uiState.breakPointState.anyPendingRequest ||  uiState.breakPointState.activeFilters.length > 0)"
                (click)="deleteAll()"
                class="btn btn-dark " disabled aria-current="page">
                        <i class="fa fa-stop" [ngClass]="{'text-danger' : (uiState.breakPointState.anyPendingRequest ||  uiState.breakPointState.activeFilters.length > 0)} " ></i>&nbsp;

            <span class="d-none d-xxl-inline">halt live edit</span></button>
        <button type="button" href="javascript:;" title="resume all pending exchanges in live edit"
                [disabled]="!uiState.breakPointState.anyPendingRequest"
                (click)="resumeAll()"
                class="btn btn-dark " aria-current="page">
            <i class="fa fa-play" [ngClass]="{'text-success' : uiState.breakPointState.anyPendingRequest}"></i>&nbsp;

            <span class="d-none d-xxl-inline">resume all</span></button>
    </div>
    &nbsp;
    &nbsp;
    <div class="btn-group" role="group">

        <button type="button" href="javascript:;"
                title="halt live edit and resume all pending exchanges"
                [disabled]="currentExchangeId === null"
                (click)="replay()"
                class="btn btn-dark " aria-current="page">
                        <i class="fa fa-refresh" [ngClass]="{'text-danger' : (uiState.breakPointState.anyPendingRequest ||  uiState.breakPointState.activeFilters.length > 0)} " ></i>&nbsp;

            <span class="d-none d-xxl-inline">replay</span></button>
        <button type="button" href="javascript:;" title="resume all pending exchanges in live edit"

                [disabled]="currentExchangeId === null"
                (click)="replayInLiveEdit()"
                class="btn btn-dark " aria-current="page">
            <i class="fa fa-refresh text-warning" ></i>&nbsp;

            <span class="d-none d-xxl-inline">replay w/ live edit</span></button>
    </div>
</div>
