
.limit-length {
    display:block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 70px;
}

.better-placeholder::placeholder{
    color: var(--bs-gray-300);
}
