<!-- <span>Filters</span> : &nbsp; &nbsp; -->
<div class="btn-group" role="group" *ngIf="uiState">
    <div class="btn-group" role="group" dropdown>
        <button id="btnGroupDrop851" type="button" class="btn btn-secondary dropdown-toggle" data-bs-toggle="dropdown"
            aria-expanded="false" dropdownToggle>
            <span style="white-space: nowrap">
                <span *ngIf="uiState.viewFilter.sourceFilter.typeKind === 'AnyFilter'">
                    View per source ({{uiState.templateToolBarFilterModel.agentFilters.length}})
                </span>
                <span class="limit-lengthd" *ngIf="uiState.viewFilter.sourceFilter.typeKind !== 'AnyFilter'">
                    {{uiState.viewFilter.sourceFilter.friendlyName}}
                </span>
            </span>
        </button>
        <ul class="dropdown-menu bg-light text-primary" *dropdownMenu>
            <li role="menuitem" >
                <a class="dropdown-item" href="javascript:;" (click)=" resetSourceFilter()">
                    <i class="fa fa-check" *ngIf="isSourceFilterEmpty()"></i>
                All sources</a>
            </li>
            <li class="divider dropdown-divider" *ngIf="uiState.templateToolBarFilterModel.agentFilters.length > 0"></li>
            <li role="menuitem" *ngFor="let agentFilter of uiState.templateToolBarFilterModel.agentFilters">
                <a class="dropdown-item" href="javascript:;" (click)="applySourceFilter(agentFilter)"
                        [ngClass]="{'text-gray-300' : !isSourceAgentSelect(agentFilter)}">
<!--                    <i class="fa fa-check" *ngIf="isSourceAgentSelect(agentFilter)"></i>-->
                    <i   [ngClass]="SourceAgentIconFunc(agentFilter.friendlyName)"></i>
                    {{ agentFilter.friendlyName }}</a></li>
        </ul>
    </div>
</div>
&nbsp;
<div class="btn-group" role="group" *ngIf="uiState">

    <button *ngFor="let toolBarFilter of uiState.toolBarFilters" type="button" href="javascript:;"

            (click)="selectFilter(toolBarFilter.filter)"
            [title]="toolBarFilter.filter.friendlyName"
            class="btn btn-dark" aria-current="page"
            [ngClass]=" {'active' : toolBarFilter.filter.identifier === uiState.viewFilter.filter.identifier, 'bg-primary' : toolBarFilter.filter.identifier === uiState.viewFilter.filter.identifier}"
    >{{ toolBarFilter.filter.shortName }}</button>

    <button *ngIf="selectedFilter" type="button" href="javascript:;"

            (click)="selectFilter(selectedFilter)"
            [title]="selectedFilter.friendlyName"
            class="btn btn-dark" aria-current="page"
            [ngClass]=" {'active' : selectedFilter.identifier === uiState.viewFilter.filter.identifier, 'bg-primary' : selectedFilter.identifier === uiState.viewFilter.filter.identifier}"
    >{{ selectedFilter.shortName }} <i class="bi bi-pencil"></i></button>


    <div class="btn-group" role="group" dropdown *ngIf="uiState.templateToolBarFilterModel">
        <button  type="button" class="btn btn-dark dropdown-toggle" data-bs-toggle="dropdown"
            aria-expanded="false" dropdownToggle>
            more filters
        </button>
        <ul class="dropdown-menu bg-light text-primary" *dropdownMenu aria-labelledby="btnGroupDrop851">
            <li role="menuitem" *ngFor="let filter of uiState.templateToolBarFilterModel.quickFilters">
                <a class="dropdown-item" href="javascript:;" (click)="createTemplateFilter(filter)">{{ filter.friendlyName}}</a>
            </li>

            <ng-container *ngIf="uiState.templateToolBarFilterModel.lastUsedFilters.length > 0 ">
                <li class="divider dropdown-divider"></li>
                <li role="menuitem" (click)="skipEvent($event)" ><span class="dropdown-item"><i>Last used filters</i></span></li>
                <li role="menuitem"  *ngFor="let filter of uiState.templateToolBarFilterModel.lastUsedFilters">
                    <a class="dropdown-item small" href="javascript:;" (click)="selectFilter(filter)">{{filter.friendlyName}}</a></li>
            </ng-container>

            <li class="divider dropdown-divider"></li>
            <li role="menuitem"><a class="dropdown-item" href="javascript:;" (click)="createCustomFilter()">Other filters</a></li>
            <li role="menuitem"><a class="dropdown-item" href="javascript:;" (click)="openManagedFilters()">Load saved filter (from computer)</a></li>
        </ul>
    </div>
</div>
