.summary-table {
    width : 100%; 
}

.summary-table th{
    width : 120px; 
}

.summary-table td {
    max-width: 0;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}