
<div class="modal-header">
    <h4 class="modal-title pull-left">
        <i class="fa fa-tag" aria-hidden="true"></i> Apply tag
    </h4>
    <button type="button" class="btn-close close pull-right white" aria-label="Close" (click)="cancel()">
        <span aria-hidden="true" class="visually-hidden">&times;</span>
    </button>
</div>
<div class="modal-body" style="min-height: 50px">
    <div>

        <p>
            Choose existing tag from current file
        </p>

        <div class="">
            <div *ngIf="tags">

                <div>Tags applied to this exchange</div>
                <div class="tag-list-container">
                    <span *ngFor="let tag of getSelectedTags()" >
                        <span>
                            <a class="btn btn-gray-400"  href="javascript:;" (click)="unSelect(tag.identifier)">
                                {{ tag.value }}
                            </a>&nbsp;
                        </span>
                    </span>
                    <span *ngIf="this.model.tagIdentifiers.length === 0">
                        <i>No tag selected</i>
                    </span>
                </div>
                <div>Available tag on file</div>
                <div class="tag-list-container">
                    <span *ngFor="let tag of getUnSelectedTags()" >
                        <span>
                            <a class="btn btn-gray-400" href="javascript:;" (click)="select(tag.identifier)">
                                {{ tag.value }}
                            </a>&nbsp;
                        </span>
                    </span>
                    <span  *ngIf="getUnSelectedTags().length === 0">
                        Not tag available
                    </span>
                </div>

                <p>
                    <span *ngIf="tags.length === 0">No existing tag was found on file. </span>
                    <span>
                        <a href="javascript:;" (click)="createNewTag()">Create a new tag</a>.
                    </span>
                </p>

            </div>
            <p *ngIf="!tags">
                <i class="fa fa-spinner fa-spin  fa-fw"></i> Loading tags from file ...
            </p>


        </div>
    </div>
</div>
<div class="modal-footer">
    <button class="btn btn-primary" (click)="save()">Save</button>
    <button class="btn btn-dark" (click)="cancel()">Cancel</button>
</div>
