
<div class="modal-header">
    <h4 class="modal-title pull-left">
        Early connection errors
    </h4>
    <button type="button" class="btn-close close pull-right white" aria-label="Close" (click)="close()">
        <span aria-hidden="true" class="visually-hidden">&times;</span>
    </button>
</div>
<div class="modal-body" style="min-height: 50px">
    <div>
        <p class="text-gray-300">
            This dialog show any fail attempt to connect to fluxzy.
            Common error is that client doesn't trust fluxzy certificate</p>
        <div *ngIf="errors === null">
            <p>Loading error list</p>
        </div>
        <div *ngIf="errors !== null">

            <div *ngIf="errors.length === 0 ">
                <p class="lead text-center">No errors</p>
            </div>
            <div *ngIf="errors.length !== 0 ">

                <p>
                    There are {{ errors?.length }}

                    <span class="pull-right">
                    <button class="btn btn-sm btn-secondary" [disabled]="!canGoFirst()" (click)="goFirst()"><< first</button>
                    &nbsp;
                    <button class="btn btn-sm btn-secondary" [disabled]="!canGoPrevious()" (click)="previous()">< previous</button>
                    &nbsp;
                    <span> {{ index}} - {{ limit }} /  {{ errors?.length }}</span>
                    &nbsp;
                    <button  class="btn  btn-sm btn-secondary" [disabled]="!canGoNext()" (click)="next()">next ></button>
                    &nbsp;
                    <button  class="btn  btn-sm btn-secondary" [disabled]="!canGoLast()" (click)="goLast()">last >></button>

                </span>

                </p>

                <table class="error-table">
                    <tr>
                        <th>Instant</th>
                        <th>Source address</th>
                        <th>Source port</th>
                        <th>Message</th>
                    </tr>
                    <tr *ngFor="let error of errors | slice : index : limit">
                        <td>{{ error.instantDateUtc | date : 'short' }}</td>
                        <td class="text-center"> <span class="text-gray-100">{{ error.sourceIp }}</span></td>
                        <td  class="text-center">{{ error.sourcePort }}</td>
                        <td>{{ error.message }}</td>
                    </tr>
                </table>
            </div>


        </div>
    </div>
</div>
<div class="modal-footer">
    <button class="btn btn-outline-warning  mr-auto"  (click)="clearAll()">clear all</button>
    <button class="btn btn-primary" (click)="refresh()">refresh</button>
    <button class="btn btn-outline-primary" (click)="close()">close</button>
</div>
