@import "../../styles.scss"; 


.menu {
    font-size : 13px; 
    width: 100%; 
    background : $gray-900 ;
}

.menu-box {
    padding : 4px;
    padding-left : 10px;  
    padding-right : 10px;  
    display:inline-block;
    cursor: default;
    margin: 0;
    border-radius:2px;
    margin-top: 2px;
    margin-bottom: 2px;

}

.menu-box:hover {
    background :  $main-primary 
}

.menu-item-children-container {
    position: absolute; 
    background :  $gray-900;
    margin-left: -14px;
    margin-top: 6px;
    border-radius: 0 0 4px 4px !important;


    overflow:  hidden;
    box-shadow: $gray-700  0px 4px 16px;
   
}

.menu-item-children {
    min-width: 300px; 
    padding: 6px 24px 6px 24px;
    
}

.menu-item-children:hover {
    background: $main-primary;
}

.menu-item-children-separator {
    border-bottom : 1px solid $gray-700; 
    height: 1px;
    width : 100%; 
}

