<div class="modal-header">
    <h4 class="modal-title pull-left">
        <span *ngIf="isEdit">Edit</span>
        <span *ngIf="!isEdit">Create</span>
        filter
        <strong>«{{ filter.genericName }}»</strong>
    </h4>
    <button type="button" class="btn-close close pull-right white" aria-label="Close" (click)="cancel()">
      <span aria-hidden="true" class="visually-hidden">&times;</span>
    </button>
  </div>
  <div class="modal-body" style="min-height: 50px">
    <div>

        <p *ngIf="validationState !== null">
            <span *ngIf="validationState" class="text-success">
                Validation succeed
            </span>
            <span *ngIf="!validationState" class="text-danger">
                Some inputs were not filled correctly.
            </span>
        </p>


        <div class="">
            <div class="row">
                <div class="col-md-16">
                    <div class="" style="padding: 16px">
                        <app-filter-render [filter]="filter"   [validationSource]="validationSource"></app-filter-render>

                        <p *ngIf="targets.length === 0">This filter has no editable setting.</p>
                    </div>
                </div>
            </div>
        </div>



    </div>
  </div>
  <div class="modal-footer">
    <button class="btn btn-primary" (click)="save()">Save</button>
    <button class="btn btn-dark" (click)="cancel()">Cancel</button>
  </div>
