<div class="modal-header">
    <h4 class="modal-title pull-left">
        Edit filter
    </h4>
    <button type="button" class="btn-close close pull-right white" aria-label="Close" (click)="cancel()">
      <span aria-hidden="true" class="visually-hidden">&times;</span>
    </button>
  </div>
  <div class="modal-body" style="min-height: 400px">
    <div>

        <p *ngIf="validationState !== null">
            <span *ngIf="validationState" class="text-success">
                Validation succeed
            </span>
            <span *ngIf="!validationState" class="text-danger">
                Validation failed !!!
            </span>
        </p>


        <div class="">
            <div class="row">
                <div class="offset-md-2 col-md-6">
                    <div class="" style="padding: 16px">
                        <app-method-filter-form [filter]="get(filter)" [validationSource]="validationSource" *ngIf="filter.typeKind === 'MethodFilter'"></app-method-filter-form>
                        <app-host-filter-form [filter]="get(filter)" [validationSource]="validationSource" *ngIf="filter.typeKind === 'HostFilter'"></app-host-filter-form>
                        <app-filter-collection-form [filter]="get(filter)" [validationSource]="validationSource" *ngIf="filter.typeKind === 'FilterCollection'"></app-filter-collection-form>

                        <p *ngIf="targets.length === 0">This filter has no editable setting.</p>
                    </div>
                </div>
            </div>
        </div>



    </div>
  </div>
  <div class="modal-footer">
    <button class="btn btn-primary" (click)="save()">Save</button>
    <button class="btn btn-dark" (click)="cancel()">Cancel</button>
  </div>
