<!-- <pre  style="width:100%"><code [highlight]="content" [languages]="['json']"></code></pre> -->

<div style="margin-bottom: 12px">
    <span>{{title}}</span>
    <span class="float-end">
        <a href="javascript:;" class="btn btn-light" (click)="setClipboard(content)">
            <span class="material-icons" style="font-size:10px !important">content_copy</span>
            <!-- Copy to clipboard -->
        </a>
    </span>
</div>

<pre class="viewer-textarea"  style="width:100%">{{content}}</pre>