<div class="row mb-3">
    <div class="col-sm-9">

        <div class="form-floating">
            <input type="text" [(ngModel)]="filter.pattern" class="form-control" />
            <label >{{ fieldMessage }}</label>
        </div>
        <div class="p-1 text-danger" *ngIf="validationState['pattern']">
            {{ validationState['pattern'] }}
        </div>
    </div>
</div>
<div class="row mb-3">
    <div class="col-sm-9">
        <div class="form-floating">
            <select type="text" [(ngModel)]="filter.operation" class="form-select" >
                <option *ngFor="let checkOperation of StringOperationTypes"> {{ checkOperation }}</option>
            </select>
            <label>Check operation</label>
        </div>
        <div class="p-1 text-danger" *ngIf="validationState['operation']">
            {{ validationState['operation'] }}
        </div>
    </div>
</div>
