
<perfect-scrollbar #perfectScroll style="max-height: calc(100vh - 120px);"
 (psYReachStart)="reachStart($event)" (psYReachEnd)="reachEnd($event)" (psScrollY)="scrollY($event)" [usePSClass]="true"  >
    
<div class="exchange-table-view-container" *ngIf="exchangeState && exchangeState.exchanges">
    <table style="width:100%" class="exchange-table-view noselect">
        <thead>
            <tr>
                <th style="width:20px">&nbsp;</th>
                <th style="width:150px">Host</th>
                <th  style="width:50px">Method</th>
                <th>Path</th>
                <th  style="width:45px">Status</th>
                <th  style="width:50px">Type</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let exchange of exchangeState.exchanges;  trackBy: identify" [ngClass]="{'exchange-selected' : !!exchangeSelection.map[exchange.id] }" (mouseup)="setSelectionChange($event, exchange)">
                <td class="text-center">
                    <span *ngIf="exchange.done" class="text-success"><i class="bi bi-circle-fill"></i></span>
                    <span *ngIf="!exchange.done" class="text-danger bold"><i class="bi bi-exclamation-diamond-fill"></i></span>
                    
                </td>
                <td>
                    <i class="bi bi-lock-fill" style="color:var(--bs-gray-300)"></i>
                    {{ exchange.knownAuthority }}</td>
                <td class="">{{ exchange.method }}&nbsp;&nbsp;</td>
                <td>
                    <spa  [ngClass]="{ 'text-secondary' : exchange.contentType === 'json' }"></spa>
                    {{ exchange.path }}
                </td>
                <td>{{ exchange.id }}</td>
                <td>{{ exchange.contentType }}</td>
            </tr>
        </tbody>
    </table>
</div>

</perfect-scrollbar>

