
<perfect-scrollbar #perfectScroll style="max-height: calc(100vh - 120px);"
 (psYReachStart)="reachStart($event)" (psYReachEnd)="reachEnd($event)" (psScrollY)="scrollY($event)" [usePSClass]="true"  >
    
<div class="exchange-table-view-container" *ngIf="exchangeState && exchangeState.exchanges">
    <table style="width:100%" class="exchange-table-view noselect">
        <thead>
            <tr>
                <th style="width:20px">&nbsp;</th>
                <th style="width:150px">Host</th>
                <th  style="width:50px">Method</th>
                <th>Path</th>
                <th  style="width:45px">Status</th>
                <th  style="width:50px">Type</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let exchangeContainer of exchangeState.exchanges;  trackBy: identify" [ngClass]="{'exchange-selected' : !!exchangeSelection.map[exchangeContainer.id] }" 
            (mouseup)="setSelectionChange($event, exchangeContainer.exchangeInfo)">
                <td class="text-center">
                    <span [title]="exchangeContainer.exchangeInfo.statusCode" [ngClass]="ExchangeStyle(exchangeContainer.exchangeInfo).textClass"><i [ngClass]="ExchangeStyle(exchangeContainer.exchangeInfo).iconClass"></i></span>
                  
                    
                </td>
                <td>
                    <div style="  white-space: nowrap; max-width:180px; overflow : hidden; text-overflow: ellipsis;">
                        <i class="bi bi-lock-fill" style="color:var(--bs-gray-300)"></i>
                        {{ exchangeContainer.exchangeInfo.knownAuthority }}
                    </div></td>
                <td class="">{{ exchangeContainer.exchangeInfo.method }}&nbsp;&nbsp;</td>
                <td  [title]="exchangeContainer.exchangeInfo.path">
                    <div style="margin-right: 10px; position: relative; overflow: hidden">
                        &nbsp;
                        <div class="limited-length">
                            {{ exchangeContainer.exchangeInfo.path }}
                        </div>
                    </div>
                </td>
                <td>{{ exchangeContainer.exchangeInfo.statusCode }}</td>
                <td [title]="exchangeContainer.exchangeInfo.contentType">
                    <span  style="display: inline-block; width:50px; overflow: hidden; white-space: nowrap; ">
                        {{ exchangeContainer.exchangeInfo.contentType }}
                    </span>
                </td>
            </tr>
        </tbody>
    </table>
</div>

</perfect-scrollbar>

