
<perfect-scrollbar #perfectScroll style="height: calc(100vh - 112px);"
 (psYReachStart)="reachStart($event)" (psYReachEnd)="reachEnd($event)" (psScrollY)="scrollY($event)" [usePSClass]="true">

<div class="exchange-table-view-container" *ngIf="exchangeState && exchangeState.exchanges"  >
    <table style="width:100%" class="exchange-table-view noselect">
        <thead>
            <tr>
                <th *ngFor="let cellModel of cellModels" [style.width.px]="cellModel.width" [title]="cellModel.name">{{ cellModel.shortLabel }}</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let exchangeContainer of exchangeState.exchanges;   trackBy: identify" [ngClass]="{'exchange-selected' : !!exchangeSelection.map[exchangeContainer.id] }"
            (mouseup)="setSelectionChange($event, exchangeContainer.exchangeInfo)">

                        <td app-cell-rendering *ngFor="let cellModel of cellModels;   trackBy: identifyCellModel"
                            [columnModel]="cellModel"
                            [exchangeContainer]="exchangeContainer"
                            [ngClass]="cellModel.classes"
                            [isPausing]="isPausing(exchangeContainer.exchangeInfo.id)"
                            (onBreakPointDialogRequest)="showBreakPointDialog($event)"
                        >
                        </td>

            </tr>
        </tbody>
    </table>
</div>

</perfect-scrollbar>

