/* Importing Bootstrap SCSS file. */




@import "variables-colors.scss";

@import "~bootstrap/scss/bootstrap";
@import "../node_modules/bootstrap-icons/";

/* Importing Datepicker SCSS file. */
@import "node_modules/ngx-bootstrap/datepicker/bs-datepicker";


@import "../node_modules/@fontsource/roboto/";
@import '../node_modules/material-icons/';


/* You can add global styles to this file, and also import other style files */
html, body {
  margin: 0;
  padding: 0;
  font-family: "Roboto";
}

/* CAN (MUST) BE REMOVED ! Sample Global style */

* {
    font-family: "Roboto";
}


.shady-box {
    box-shadow:  var(--bs-gray-700) 0px 3px 8px;
 //  box-shadow: var(--bs-gray-700) 0px 50px 100px -20px, var(--bs-gray-700) 0px 30px 60px -30px, var(--bs-gray-700) 0px -2px 6px 0px inset;
 //box-shadow: var(--bs-gray-900) 0px 2px 4px 0px, var(--bs-gray-900) 0px 2px 16px 0px;
}

.shady-box-primary {
    //box-shadow:  var(--bs-primary) 8px 3px 8px;
    box-shadow: var(--bs-gray-600) 0px 1px 2px, var(--bs-gray-600) 0px 2px 4px, var(--bs-gray-600) 0px 4px 8px, var(--bs-gray-600) 0px 8px 16px, var(--bs-gray-600) 0px 16px 32px, var(--bs-gray-600) 0px 32px 64px;
}

.mi {
    font-size : 16px;
    padding-top : 2px;
}
.mi-sm {
    font-size : 13px;
    padding-top : 0px;
}


.table-box {

    background-color: var(--bs-gray-500);
    padding: 8px;
    border-radius:8px;
}

.material-icons-aligned {
    display: flex;
    align-items: center;
    justify-content: center;
}

.noselect {
    -webkit-touch-callout: none; /* iOS Safari */
      -webkit-user-select: none; /* Safari */
       -khtml-user-select: none; /* Konqueror HTML */
         -moz-user-select: none; /* Old versions of Firefox */
          -ms-user-select: none; /* Internet Explorer/Edge */
              user-select: none; /* Non-prefixed version, currently
                                    supported by Chrome, Edge, Opera and Firefox */
  }

.text-blue {
    color : $blue;
}

.text-orange {
    color : $orange;
}
.text-green {
    color : $green;
}

.viewer-textarea {
    color: var(--bs-gray-100);
    background:  var(--bs-gray-700);
    font-family: monospace !important;
    font-size: 12px;
    padding : 8px;
    overflow-x: hidden;
}

.as-split-gutter { height: initial !important; }

.as-split-gutter-icon {
    background-color:var(--bs-gray-500);

 }

.summary-table {
    width : 100%;
}

.summary-table th{
    width : 150px;
    vertical-align: top;
    font-weight: 400;
    color: var(--bs-gray-300);
}

.summary-table td {
    max-width: 0;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    vertical-align: top;
}

.as-split-area {
    overflow: hidden !important;
}


.view-box {
    background: var(--bs-gray-600);
    width : 100%;
    margin-top: 10px;
    border-radius: 8px;
    padding: 12px;
    flex-grow : 4;
    display : flex;
}

pre {
    white-space: pre-wrap;       /* Since CSS 2.1 */
    white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
    white-space: -pre-wrap;      /* Opera 4-6 */
    white-space: -o-pre-wrap;    /* Opera 7 */
    word-wrap: break-word;       /* Internet Explorer 5.5+ */
}

pre > code {
    font-family: monospace !important;
}

.material-icons {
}

.modal-content {
    background-color:var(--bs-gray-600);
    box-shadow:  var(--bs-gray-500) 0px 13px 18px;
}

.modal-dialog {
    min-width: 1000px !important;
    width: 90% !important;
}
.modal {
    background: rgba(0, 0, 0, .7);
}

.modal-header {
    border-bottom-color: var(--bs-gray-900) !important;
}

.modal-footer {
    border-top-color: var(--bs-gray-900) !important;
}

.filter-table th {
    color: var(--bs-gray-300);
    font-weight: normal;
}


.edit-form-table tr td:first-child {
    width : 180px;
    text-align: right;
}

.edit-form-table td {
    padding : 4px 8px 4px 8px;
    vertical-align: top !important;
}


/**** Filter & Rules style ****/


.filter-table th {
    color: var(--bs-gray-300);
    font-weight: normal;
}

.edit-form-table tr th:first-child {
    width : 180px;
    text-align: right;
}

.filter-table tr:nth-child(even) {
}

.span-friendly-name {
    cursor : default ;
    color : var(--bs-gray-200);
    text-decoration : none;
}

.span-friendly-name-selected {
    color : var(--bs-blue);
    font-weight: 500;
}
.span-friendly-name:hover {
    text-decoration : underline;
}

.button-container {
    margin-bottom: 6px;
}

.accordion-g {
    background-color: var(--bs-gray-700) !important;
}

.search-block-input{
    padding : 12px;
}

.search-block-input::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: var(--bs-gray-300);
}

.search-result-block {
    padding : 16px;
    margin-bottom: 16px;
    background: var(--bs-gray-800);
    border-radius: 8px;
}


.btn-gray-100 {
    background-color: var(--bs-gray-400) ;
}

.btn-gray-200 {
    background-color: var(--bs-gray-400) ;
}
.btn-gray-300 {
    background-color: var(--bs-gray-400) ;
}
.btn-gray-400 {
    background-color: var(--bs-gray-400) ;
}

.btn-gray-500 {
    background-color: var(--bs-gray-500) ;
}
.btn-gray-600 {
    background-color: var(--bs-gray-600) ;
}
.btn-gray-700 {
    background-color: var(--bs-gray-700) ;
}
.btn-gray-800 {
    background-color: var(--bs-gray-800) ;
}

.btn-gray-900 {
    background-color: var(--bs-gray-900) ;
}

.btn {
    box-shadow: var(--bs-gray-500) 0px 1px 2px 0px, var(--bs-gray-500) 0px 2px 6px 2px;
}

.text-primary {
    font-weight : 600;
}

a {
    color : var(--bs-teal);
}

.text-teal {
    color : var(--bs-teal);
}
