
<div class="row mb-3">

    <p>Here goes filter collection</p>

<!--    <label for="floatingSelect" class="col-sm-3 col-form-label">Host</label>-->
<!--    <div class="col-sm-9">-->

<!--        <div class="form-floating">-->
<!--            <input type="text" [(ngModel)]="filter.pattern" class="form-control" id="floatingSelect"/>-->
<!--            <label for="floatingSelect">Hostname without port and scheme</label>-->
<!--        </div>-->

<!--        <div class="p-1 text-danger" style="display:none">-->
<!--            Looks good!-->
<!--        </div>-->
<!--    </div>-->
</div>
