<div class="modal-header">
    <h4 class="modal-title pull-left">
        About fluxzy
    </h4>
    <button type="button" class="btn-close close pull-right white" aria-label="Close" (click)="close()">
        <span aria-hidden="true" class="visually-hidden">&times;</span>
    </button>
</div>
<div class="modal-body" style="min-height: 50px">

    <div class="row">
        <div class="col-3" style="padding-right:0">
            <div class="text-center" style="margin-top: 24px">
                <img src="assets/logo.png" alt="fluxzy logo" style="width:100px;" >
            </div>
        </div>
        <div class="col-9">

            <div class="" >
                <h4 *ngIf="version">
                    <span class="text-info">{{ version.global}}</span>
                </h4>
                <div *ngIf="version" style="margin-bottom: 24px">
                    <span class="">
                        <span>Desktop : </span> <span class="text-info">{{ version.fluxzyDesktop }}</span>
                    </span>
                    <br/>
                    <span class="">
                        <span>Engine : </span> <span class="text-info">{{ version.fluxzyCore }}</span>
                    </span>
                </div>

                <p>
                    Fluxzy Desktop is a multipurpose desktop application to view, record, analyze and alter your HTTP flows, in one go debugging session or within automated workflow.
                </p>
                <span class="text-info">Copyright 2022 Haga Rakotoharivelo.  </span>
                <br/>
                Visit <a href="javascript:;">www.fluxzy.io/license</a>

            </div>
        </div>
    </div>

</div>
<div class="modal-footer">
    <button class="btn btn-primary" (click)="close()">Close</button>
</div>
