    <as-split direction="vertical" unit="percent" style="">
        <as-split-area [size]="50">

            <div class="exchange-view-block">

                <div class="exchange-viewer-header">
                    <div class="btn-group" role="group" style="box-shadow: var(--bs-gray-600) 0px 7px 29px 0px !important;">

                        <button type="button" href="javascript:;" class="btn btn-dark  btn-viewer-menu"
                                [ngClass]="{'active' : isRequestTabSelected('requestHeader')}"
                                (click)="setSelectedRequestTab('requestHeader', null)">
                            request summary
                        </button>

                        <button *ngIf="!requestFormattingResults" type="button" href="javascript:;" class="btn btn-dark">
                            Loading ...
                        </button>

                        <ng-container *ngIf="requestFormattingResults">
                            <button *ngFor="let formattingResult of requestFormattingResults | slice:0:3 "
                                    type="button" href="javascript:;"
                                    class="btn btn-dark  btn-viewer-menu"
                                    [ngClass]="{'active' : isRequestTabSelected(formattingResult.type)}"
                                    (click)="setSelectedRequestTab(formattingResult.type, formattingResult)">{{formattingResult.title}}</button>
                        </ng-container>
                        <ng-container *ngIf="requestFormattingResults && requestFormattingResults.length > 3">

                            <div class="btn-group" role="group" dropdown>
                                <button type="button" class="btn btn-secondary dropdown-toggle" data-bs-toggle="dropdown"
                                        aria-expanded="false" dropdownToggle>
                                    <span *ngIf="requestOtherText">{{requestOtherText}}</span>
                                    <span *ngIf="!requestOtherText">Other</span>
                                </button>
                                <ul class="dropdown-menu bg-light text-primary" *dropdownMenu>
                                    <li role="menuitem" *ngFor="let formattingResult of requestFormattingResults | slice:3"
                                        [ngClass]="{'active' : isRequestTabSelected(formattingResult.type)}">
                                        <a class="dropdown-item" href="javascript:;"
                                           (click)="setSelectedRequestTab(formattingResult.type, formattingResult, true)">{{formattingResult.title}}</a>
                                    </li>
                                </ul>
                            </div>
                        </ng-container>
                    </div>
                </div>

                <perfect-scrollbar [usePSClass]="true" class="exchange-content-box shady-box view-box">
                    <!-- <div class="exchange-content-box shady-box"
                        style="background: var(--bs-gray-600); width : 100%; margin-top: 10px; border-radius: 8px; padding: 12px; flex-grow : 4"> -->


                    <app-header-viewer *ngIf="currentRequestTabView === 'requestHeader'" [exchange]="exchange">
                    </app-header-viewer>

                    <app-raw-request-header-result *ngIf="ofTypeRequest('RawRequestHeaderResult')"
                                                   [formatter]="requestFormattingResult">
                    </app-raw-request-header-result>

                    <app-query-string-result *ngIf="ofTypeRequest('QueryStringResult')" [formatter]="requestFormattingResult">
                    </app-query-string-result>

                    <app-request-cookie-result *ngIf="ofTypeRequest('RequestCookieResult')" [formatter]="requestFormattingResult">
                    </app-request-cookie-result>

                    <app-request-json-result *ngIf="ofTypeRequest('RequestJsonResult')" [formatter]="requestFormattingResult">
                    </app-request-json-result>

                    <app-request-text-body-result *ngIf="ofTypeRequest('RequestTextBodyResult')"
                                                  [formatter]="requestFormattingResult">
                    </app-request-text-body-result>

                    <app-request-body-analysis-result *ngIf="ofTypeRequest('RequestBodyAnalysisResult')"
                                                      [formatter]="requestFormattingResult" [exchange]="exchange">
                    </app-request-body-analysis-result>

                    <app-form-url-encoded-result *ngIf="ofTypeRequest('FormUrlEncodedResult')"
                                                 [formatter]="requestFormattingResult">
                    </app-form-url-encoded-result>

                    <app-multipart-form-content-result *ngIf="ofTypeRequest('MultipartFormContentResult')"
                                                 [formatter]="requestFormattingResult" [exchange]="exchange">
                    </app-multipart-form-content-result>

                </perfect-scrollbar>

                <!-- </div> -->
            </div>


        </as-split-area>
        <as-split-area [size]="50">

            <div class="exchange-view-block">

                <div style="margin-top : 10px" class="exchange-viewer-header">

                    
                    <div class="btn-group" role="group" style="box-shadow: var(--bs-gray-600) 0px 7px 29px 0px !important;">

                        <button type="button" href="javascript:;" class="btn btn-dark  btn-viewer-menu"
                                [ngClass]="{'active' : isResponseTabSelected('responseHeader')}"
                                (click)="setSelectedResponseTab('responseHeader', null)">

                                <span [title]="exchange.statusCode" [ngClass]="ExchangeStyle(exchange).textClass"><i [ngClass]="ExchangeStyle(exchange).iconClass"></i></span>
                            &nbsp; 
                            <span *ngIf="exchange.statusCode">{{exchange.statusCode}} {{StatusCodeVerb[exchange.statusCode + '']}}</span>
                            <span *ngIf="!exchange.statusCode">On erro</span>
                        </button>

                        <button *ngIf="!responseFormattingResults" type="button" href="javascript:;" class="btn btn-dark">
                            Loading ...
                        </button>

                        <ng-container *ngIf="responseFormattingResults">
                            <button *ngFor="let formattingResult of responseFormattingResults | slice:0:3 "
                                    type="button" href="javascript:;"
                                    class="btn btn-dark  btn-viewer-menu"
                                    [ngClass]="{'active' : isResponseTabSelected(formattingResult.type)}"
                                    (click)="setSelectedResponseTab(formattingResult.type, formattingResult)">{{formattingResult.title}}</button>
                        </ng-container>
                        <ng-container *ngIf="responseFormattingResults && responseFormattingResults.length > 3">

                            <div class="btn-group" role="group" dropdown>
                                <button type="button" class="btn btn-secondary dropdown-toggle" data-bs-toggle="dropdown"
                                        aria-expanded="false" dropdownToggle>
                                    <span *ngIf="responseOtherText">{{requestOtherText}}</span>
                                    <span *ngIf="!responseOtherText">Other</span>
                                </button>
                                <ul class="dropdown-menu bg-light text-primary" *dropdownMenu>
                                    <li role="menuitem" *ngFor="let formattingResult of responseFormattingResults | slice:3"
                                        [ngClass]="{'active' : isResponseTabSelected(formattingResult.type)}">
                                        <a class="dropdown-item" href="javascript:;"
                                           (click)="setSelectedResponseTab(formattingResult.type, formattingResult, true)">{{formattingResult.title}}</a>
                                    </li>
                                </ul>
                            </div>
                        </ng-container>
                    </div>

                </div>

                <perfect-scrollbar [usePSClass]="true" class="exchange-content-box shady-box view-box">
                    <!-- <div class="exchange-content-box shady-box"
                        style="background: var(--bs-gray-600); width : 100%; margin-top: 10px; border-radius: 8px; padding: 12px; flex-grow : 4"> -->


                    <app-response-summary *ngIf="currentResponseTabView === 'responseHeader'" [exchange]="exchange">
                    </app-response-summary>


                    <app-response-body-summary-result *ngIf="ofTypeResponse('ResponseBodySummaryResult')"
                                                 [formatter]="responseFormattingResult" [exchange]="exchange">
                    </app-response-body-summary-result>

                    <app-response-text-content-result *ngIf="ofTypeResponse('ResponseTextContentResult')"
                                                 [formatter]="responseFormattingResult" [exchange]="exchange" [context]="context">
                    </app-response-text-content-result>

                    <app-response-json-result *ngIf="ofTypeResponse('ResponseJsonResult')"
                                                 [formatter]="responseFormattingResult" [exchange]="exchange" [context]="context">
                    </app-response-json-result>

                </perfect-scrollbar>
            </div>

        </as-split-area>
    </as-split>

