
.exchange-viewer-main {
    display : flex;
    flex-direction: column;
    height : 100%;
}

.exchange-viewer-main-content {
    flex-grow: 4;
    display : flex;
    flex-direction: column;
}

.exchange-view-block {
    display:flex;
    flex-direction: column;
    height: 100%;
}

.exchange-content-box {
    // flex-grow: 4;
    display : flex;
    flex-direction: column;
}

.view-box {
    background: var(--bs-gray-600); 
    width : 100%; 
    margin-top: 10px; 
    border-radius: 8px; 
    padding: 12px; 
    flex-grow : 4; 
    display : flex; 
}

.exchange-viewer-main-status {
    margin-top: 10px;
    height: 30px;
    width: 100%;
    //align-self: flex-end
}

.btn-viewer-menu {
    white-space: nowrap;
    overflow: ellipsis;
}
