
<div class="modal-header">
    <h4 class="modal-title pull-left">
        <i class="fa fa-tag" aria-hidden="true"></i> Exporting to Http Archive (HAR) format
    </h4>
    <button type="button" class="btn-close close pull-right white" aria-label="Close" (click)="cancel()">
        <span aria-hidden="true" class="visually-hidden">&times;</span>
    </button>
</div>
<div class="modal-body" style="min-height: 50px">
    <div>

        <p class="text-info">
            Exported HAR file may become too large when content body is included. Configure when the content body should be exported.
        </p>

        <div class="">
            <div class="row mb-3">
                <label for="" class="col-4 col-form-label text-end">
                    Save body policy
                </label>
                <div class="col-8">
                    <div class="form-check">
                        <input class="form-check-input" id="SkipBody" type="radio" [(ngModel)]="saveSetting.policy" [value]="'SkipBody'" (ngModelChange)="cd.detectChanges()">
                        <label class="form-check-label" for="SkipBody">
                            Exclude all
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" id="AlwaysSave" type="radio" [(ngModel)]="saveSetting.policy" [value]="'AlwaysSave'" (ngModelChange)="cd.detectChanges()">
                        <label class="form-check-label" for="AlwaysSave">
                            Include all
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" id="MaxLengthSave" type="radio" [(ngModel)]="saveSetting.policy" [value]="'MaxLengthSave'" (ngModelChange)="cd.detectChanges()">
                        <label class="form-check-label" for="MaxLengthSave">
                            Include content body if length is less than
                        </label>
                    </div>
                </div>
            </div>
            <div class="row mb-3" *ngIf="saveSetting.policy === 'MaxLengthSave'">
                <label for="" class="col-4 col-form-label text-end">Maximum content body length </label>
                <div class="col-8">
                    <div class="form-floating mb-3">
                        <input type="number" class="form-control" id="harLimitMaxBodyLength"
                               [(ngModel)]="saveSetting.harLimitMaxBodyLength"
                               min="0" max="999999999999">
                        <label for="harLimitMaxBodyLength">Length in bytes</label>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal-footer">
    <button class="btn btn-primary" (click)="save()">Save</button>
    <button class="btn btn-dark" (click)="cancel()">Cancel</button>
</div>
