<div class="view-box" style="height:100%">

    <div class="" *ngIf="!curlResult">
        Loading curl command ...
    </div>

    <div class="" *ngIf="curlResult" style="width : 100%">
        <div>
            <h4>Export cURL command</h4>
            <div style="margin-bottom: 12px;">
                <div class="alert alert-warning" *ngIf="curlResult.fileName">
                    <strong class="text-warning">Note </strong> This request contains binary or large payload. In order to use this curl command, you need to
                    download the file <a (click)="saveCurlPayload(curlResult.fileName)" class="text-white" href="javascript:;">{{ curlResult.fileName }}</a> to the working directory.
                </div>

                <div  style=" line-height: 32px">
                    <a class="btn btn-gray-800 btn-sm"  (click)=" openDisplayStringDialog('Curl cmd command', values[0])" title="view command" href="javascript:;">
                        <span>cmd</span>
                    </a>&nbsp;
                    <a class="btn btn-gray-800 btn-sm"  (click)=" openDisplayStringDialog('Bash command', values[2])" title="view command"  href="javascript:;">
                        <span>bash</span>
                    </a>&nbsp;
                    <a class="btn btn-gray-800 btn-sm"  (click)=" openDisplayStringDialog('Bash command', values[1])" title="view command"  href="javascript:;">
                        <span>cmd (with proxy)</span>
                    </a>&nbsp;
                    <a class="btn btn-gray-800 btn-sm"  (click)="openDisplayStringDialog('Bash command', values[3])" title="view command"  href="javascript:;">
                        <span>bash (with proxy)</span>
                    </a>&nbsp;
                    <a class="btn btn-gray-800 btn-sm"  (click)="openDisplayStringDialog('Bash command', values[2])" title="view postman compatible curl command"  href="javascript:;">
                        <span>postman</span>
                    </a>&nbsp;
                 </div>
            </div>
        </div>

        <div>
            <h4>Replay request</h4>
            <div>
                <div style="margin-bottom: 12px;">
                    <div  style=" line-height: 32px">
                        <a class="btn btn-gray-800 btn-sm"  (click)="replay(false)" href="javascript:;" title="Re-run request in fluxzy">
                            <span>replay request</span>
                        </a>&nbsp;
                        <a class="btn btn-gray-800 btn-sm"  (click)="replay(true)" href="javascript:;">
                            <i class="fa fa-bug  text-warning"></i>&nbsp;
                            <span class="">replay request in live edit</span>
                        </a>&nbsp;
                    </div>
                </div>
            </div>
        </div>

        <div>
            <h4>Save bodies</h4>
            <div>
                <div style="margin-bottom: 12px;">
                    <div  style=" line-height: 32px">
                        <button class="btn btn-gray-800 btn-sm" [disabled]="!hasRequestBody" (click)="saveRequestBody()"  title="Save request body to local file">
                            <span>export request body</span>
                        </button>&nbsp;
                        <button class="btn btn-gray-800 btn-sm" [disabled]="!hasResponseBody"  (click)="saveResponseBody()" title="Save response body to local file">
                            <span>export response body</span>
                        </button>&nbsp;
                    </div>
                </div>
            </div>
        </div>

        <div>
            <h4>Export to other format</h4>
            <div>
                <div style="margin-bottom: 12px;">
                    <div  style=" line-height: 32px">
                        <a class="btn btn-gray-800 btn-sm"  (click)="exportHar()" href="javascript:;" title="Export as HTTP Archive file">
                            <span>export selection as HAR</span>
                        </a>&nbsp;
                        <a class="btn btn-gray-800 btn-sm"  (click)="exportAsSaz()" href="javascript:;" title="Export as Fiddler file">
                            <span>export selection as SAZ</span>
                        </a>&nbsp;
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
