
<h4>Export as curl</h4>

<div class="" *ngIf="!curlResult">
    Loading curl command ...
</div>

<div class="" *ngIf="curlResult">

    <div>
        <div style="margin-bottom: 8px">
            &nbsp;
            <span  class="pull-right">
                <a class="text-white"  *ngIf="!passThroughProxy" (click)="passThroughProxy = !passThroughProxy; cd.detectChanges()" href="javascript:;">With proxy pass</a>
                <a class="text-white" *ngIf="passThroughProxy" (click)="passThroughProxy = !passThroughProxy; cd.detectChanges()"  href="javascript:;">Without proxy pass</a>
                |
                <a class="text-white" href="javascript:;" (click)="copyToClipboard()">Copy to clipboard</a>
            </span>
        </div>
        <div class="alert alert-warning">
                <strong>Note: </strong> In order to use this curl command, you need to
            download the file <a (click)="saveCurlPayload(curlResult.fileName)" class="text-white" href="javascript:;">{{ curlResult.fileName }}</a> to the working directory.
        </div>
        <pre class="viewer-textarea short-pre" *ngIf="!passThroughProxy" style="width: 100%; height: 100%" readonly>curl {{ curlResult.flatCommandLineArgs }}</pre>
        <pre class="viewer-textarea short-pre" *ngIf="passThroughProxy" style="width: 100%; height: 100%" readonly>curl {{ curlResult.flatCommandLineWithProxyArgs }}</pre>
    </div>

</div>
