
<div style="height: 100%; ">

    <perfect-scrollbar [usePSClass]="true"  style="max-height: calc(100vh - 0px);">

        <table class="summary-table" style="margin-bottom: 20px;">
            <tr>
                <th>Method</th>
                <td>{{ exchange.method }}</td>
            </tr>
            <tr>
                <th>Path</th>
                <td>
                    <span [title]="exchange.path ">
                        {{ exchange.path }}
                    </span><br/>
                    <small>                        
                        <a title="Copy to clipboard" href="javascript:;" (click)="setClipboard(exchange.fullUrl)"> Copy full url</a> | 
                        <a title="Copy to clipboard" href="javascript:;" (click)="setClipboard(exchange.path)"> Copy path only</a>
                    </small>
                     
                </td>
            </tr>
            <tr>
                <th>Authority</th>
                <td>{{ exchange.knownAuthority }}</td>
            </tr>
            <tr>
                <th>Http version</th>
                <td>{{ exchange.httpVersion }}</td>
            </tr>
        </table>
    
    
        <table class="summary-table">
            <tr *ngFor="let header of exchange.requestHeader.headers  | sort:'name'" >
                <ng-container *ngIf="!header.name.startsWith(':') && header.forwarded">
    
                    <th>{{ header.name }}</th>
                    <td>{{ header.value }}</td>
                </ng-container>
            </tr>
        </table>
    
    </perfect-scrollbar>
    
</div>


