
<div style="height: 100%; ">

    <perfect-scrollbar [usePSClass]="true"  style="max-height: calc(100vh - 0px);">

        <table class="summary-table" style="margin-bottom: 20px;">
            <tr>
                <th>Method</th>
                <td>{{ exchange.method }}</td>
            </tr>
            <tr>
                <th>Full url</th>
                <td>
                    <span [title]="exchange.fullUrl ">
                        <a title="Copy to clipboard" href="javascript:;" class="" (click)="setClipboard(exchange.fullUrl)"> 
                            <span class="material-icons" style="font-size:10px !important">content_copy</span>
                        </a> {{ exchange.fullUrl }}
                    </span>
                    <br/>
                     
                </td>
            </tr>
            <tr>
                <th>Path</th>
                <td>
                    <span [title]="exchange.path ">
                        <a title="Copy to clipboard" href="javascript:;" class="" (click)="setClipboard(exchange.path)"> 
                            <span class="material-icons" style="font-size:10px !important">content_copy</span>
                        </a> {{ exchange.path }}
                    </span>
                    <br/>
                    <!-- <small>                        
                        <a title="Copy to clipboard" href="javascript:;" class="btn btn-sm btn-primary" (click)="setClipboard(exchange.fullUrl)"> 
                            <span class="material-icons" style="font-size:10px !important">content_copy</span>
                        </a> 
                            &nbsp; 
                        <a title="Copy to clipboard" href="javascript:;" class="btn btn-sm btn-primary"  (click)="setClipboard(exchange.path)"> Copy path only</a>
                    </small> -->
                     
                </td>
            </tr>
            <tr>
                <th>Authority</th>
                <td>{{ exchange.knownAuthority }}</td>
            </tr>
            <tr>
                <th>Http version</th>
                <td>{{ exchange.httpVersion }}</td>
            </tr>
        </table>
    
    
        <table class="summary-table">
            <tr *ngFor="let header of exchange.requestHeader.headers  | sort:'name'" >
                <ng-container *ngIf="!header.name.startsWith(':') && header.forwarded">
    
                    <th>{{ header.name }}</th>
                    <td>{{ header.value }}</td>
                </ng-container>
            </tr>
        </table>
    
    </perfect-scrollbar>
    
</div>


