<div class="modal-header" style="padding:4px; padding-left: 16px">
    <h4 class="modal-title pull-left">Edit & continue</h4>
    <button type="button" class="btn-close close pull-right white" aria-label="Close" (click)="bsModalRef.hide()">
        <span aria-hidden="true" class="visually-hidden">&times;</span>
    </button>
</div>
<div class="modal-body" *ngIf="breakPointState" style="padding-top:2px">
    <div *ngIf="breakPointState.entries.length === 0">
        <p class="lead text-center">
            There is no currently active breakpoint.
            <br/>
            You can toggle a breakpoint by replaying a capture request
            <br/>
            or by setting directly a breakpoint from the debug menu.
        </p>
    </div>
    <div  *ngIf="currentContextInfo">
        <div class="p-3">

            <div class="row">
                <div class="col-6">
                    <div class="btn-group" role="group" dropdown>
                        <button  type="button" class="btn btn-dark dropdown-toggle" data-bs-toggle="dropdown"
                                 aria-expanded="false" dropdownToggle>
                                    <span>
                                        <span class="badge bg-success text-gray-600" *ngIf="currentContextInfo.done">done</span>
                                        <span class="badge bg-warning text-gray-600" *ngIf="!currentContextInfo.done">in pause</span>
                                        &nbsp;
                                    </span>
                            Exchange #{{ currentContextInfo.exchangeId}} - <span class="text-info">{{ currentContextInfo.exchange.fullUrl}}</span>
                        </button>
                        <ul class="dropdown-menu bg-light text-primary" *dropdownMenu >
                            <li role="menuitem" *ngFor="let entry of breakPointState.entries">
                                <a class="dropdown-item" href="javascript:;" (click)="selectEntry(entry)">

                                    <span>
                                        <span class="badge bg-success text-gray-600" *ngIf="entry.done">done</span>
                                        <span class="badge bg-warning text-gray-600" *ngIf="!entry.done">in pause</span>
                                        &nbsp;
                                    </span>


                                    #{{ entry.exchangeId}} -
                                    <span class="text-info">{{ entry.exchange.fullUrl}}</span>
                                </a>
                            </li>

                        </ul>
                    </div>

                    <span *ngIf="breakPointState.activeEntries > 0 && currentContextInfo.done"
                    style="cursor:pointer" (click)="setSelectionToNextPending()" title="some requests wait for user input to continue">
                        &nbsp;&nbsp;
                        <span class="badge bg-warning text-gray-600" >
                            pending ({{ breakPointState.activeEntries }})
                        </span>
                    </span>
                </div>
                <div class="col-6 text-end">
                    <div class="btn-group btn-command" role="group" aria-label="">
                        <button [disabled]="currentContextInfo.done"  type="button" class="btn btn-warning no-shadow" (click)="continueNext()" title="Skip">
                            <i class="fa fa-step-forward"></i></button>
                        <button  [disabled]="currentContextInfo.done"  type="button" class="btn btn-warning no-shadow" (click)="continueUntilEnd()" title="Skip until end">
                            <i class="fa fa-fast-forward"></i>
                        </button>
                    </div>
                </div>
            </div>
        </div>

        <table style="width: 100%" class="table-bp-layout">
            <tr>
                <td style="">

                    <div class="alert">

                        <p class="lead text-info">Exchange <span class="text-white">#{{ currentContextInfo.exchangeId }}</span>
                            &nbsp;<span class="badge bg-success text-gray-600" *ngIf="currentContextInfo.done">done</span></p>
                        <ul class="fa-ul border-right ul-step">
                            <li *ngFor="let item of currentContextInfo.stepInfos" class="larger">

                            <span class="fa-li" *ngIf="item.status === 'AlreadyRun'">
                                <i class="fa fa-check-circle text-gray-200" title="Done"></i></span>

                                <span class="fa-li" *ngIf="item.status === 'Current'">
                                <i class="fa fa-pause text-warning"></i>
                            </span>
                                <span class="fa-li"  *ngIf="item.status === 'Pending'">
                                <i class="fa fa-minus" title="Not run yet"></i>
                            </span>

                                <a href="javascript:;" class="nul"
                                   (click)="setSelectedStepInfo(item)"
                                   [class]="{'text-info' : item.status !== 'Current', 'sinfo-selected' : item === selectedStepInfo}">{{ item.stepName}}</a>
                            </li>

                        </ul>
                    </div>
                </td>
                <td>

                    <div class="alert">

                        <div class="lead text-center"  *ngIf="!selectedStepInfo">No step selected</div>
                        <div style="padding : 8px" *ngIf="selectedStepInfo">

                            <h4 class="soft-border">
                                {{ selectedStepInfo.stepName }}
                                <small class="badge bg-success text-gray-600" *ngIf="selectedStepInfo.status === 'AlreadyRun'">
                                    <!--                                <i class="fa fa-info-circle" aria-hidden="true"></i> -->
                                    done</small>
                            </h4>
                            <div class="bp-form-container">
                                <app-authority *ngIf="selectedStepInfo.locationIndex === 1" [context]="currentContextInfo" [stepInfo]="selectedStepInfo"></app-authority>
                                <app-edit-request *ngIf="selectedStepInfo.locationIndex === 2" [context]="currentContextInfo" [stepInfo]="selectedStepInfo"></app-edit-request>
                                <app-edit-response *ngIf="selectedStepInfo.locationIndex === 3" [context]="currentContextInfo" [stepInfo]="selectedStepInfo"></app-edit-response>

                            </div>


                        </div>
                    </div>
                </td>
            </tr>
        </table>

        <div class="row">
            <div class="col-3">
            </div>
            <div class="col-9">
            </div>
        </div>

    </div>

</div>
<div class="modal-footer">
    <button *ngIf="breakPointState && breakPointState.activeEntries > 0" class="btn btn-outline-warning" (click)="disableAllAndQuit()">
        Disable breakpoint and skip all ({{ breakPointState.activeEntries }})</button>
    <button class="btn btn-outline-primary" (click)="bsModalRef.hide()">Close</button>
</div>
