<div class="wait-message" [hidden]="uiState">
    <div class="text-center">
        <i class="fa fa-circle-o-notch fa-spin fa-fw"></i><span class="wait-app-name">fluxzy</span> is loading
    </div>
</div>

<div [hidden]="!uiState">
    <app-context-menu></app-context-menu>
    <div class="" style="width: 100%; height: 100%">

        <as-split direction="horizontal"  unit="percent"  style="height:100%;">
            <as-split-area [size]="50" style="height: 100%;" >

                <div class="block-left-parent" #objectPane style="">
                    <div class="title-box">
                        <div class="filter-header">
                            <app-filter-header-view></app-filter-header-view>
                        </div>
                    </div>
                    <div class="block-left" >
                        <div class="filter-pane shady-box" style="padding: 8px; margin-left: 5px;">
                            <app-exchange-table-view style="height:100vh"></app-exchange-table-view>
                        </div>
                    </div>
                </div>

            </as-split-area>
            <as-split-area [size]="50">

                <div class="block-right">
                    <div class="middle-content">
                        <!-- <p>{{selectedExchange.id}}</p> -->
                        <app-exchange-viewer-header *ngIf="selectedExchange" [exchange]="selectedExchange" style="width:100%"></app-exchange-viewer-header>
                        <div *ngIf="!selectedExchange"  style="width:100%; height: 100%; display: flex; align-items: center;text-align: center" >
                            <div style="width:100%" class="lead text-center">
                                <p class="display-6">
                                    <i class="fa fa-cube" aria-hidden="true"></i> <br/>
                                    No exchange selected
                                </p>
                                <div>
                                    Select an exchange to view all details about request and response
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </as-split-area>
        </as-split>

    </div>
    <app-status-bar></app-status-bar>
</div>

