<div class="status-container">
    <strong class="font-primary">
        cool_file.ecz
    </strong>
    &nbsp;|&nbsp;
    <span>
        34 objects 
        <span *ngIf="selectedCount > 0">
            ({{selectedCount}} selected)
        </span>
       
    </span>
    &nbsp;|&nbsp;
    <span>
        <i class="bi bi-filter-circle-fill"></i>
        no filter 
    </span>
 
    <span class="float-end">
        <span>
            <i class="bi bi-key-fill"></i>
            decrypt all 
        </span>
        &nbsp;|&nbsp;
        <span class="text-primary">
            <i class="bi bi-reception-4"></i>
        </span>
        <strong>127.0.0.1:44344</strong>
    </span>
</div>
