<div class="status-container" *ngIf="fileState && uiState">

    <strong class="font-primary">
        <span *ngIf="fileState?.mappedFileName">{{ fileState.mappedFileName}}</span>
        <span *ngIf="!fileState?.mappedFileName">[new file]</span>
    </strong>
    <small *ngIf="fileState.unsaved"> (*not saved)</small>
    &nbsp;|&nbsp;
    <span *ngIf="exchangeState">
        {{ exchangeState.totalCount }} items
        <span *ngIf="selectedCount > 0">
            ({{selectedCount}} selected)
        </span>
    </span>
    &nbsp;|&nbsp;
    <span>
        <i class="bi bi-filter-circle-fill"></i>
        no filter applied
    </span>
    &nbsp;|&nbsp;
    <span>
        <i class="bi bi-filter-circle-fill"></i>
        8 filters in file
    </span>

    <span class="float-end">

        <span *ngIf="statusMessage">

            <strong class="update-info text-blue" >
                {{statusMessage }}
            </strong>
            |
        </span>

        <a href="javascript:;" class="text-secondary" (click)="decryptTrigger()">
            <i class="bi bi-key-fill"></i>
            decrypt all
        </a>
        &nbsp;|&nbsp;
        <span>
            <a *ngIf="uiState.systemProxyState.on" (click)="proxyOff()"
             href="javascript:;" class="text-green" title="Capture is on. Clic to toggle off"><i class="bi bi-play-circle-fill"></i></a>
            <a *ngIf="!uiState.systemProxyState.on" (click)="proxyOn()"
             href="javascript:;" class="text-secondary" title="Capture is off. Clic to toggle on"><i class="bi bi-stop-circle-fill"></i></a>
        </span>
        <strong *ngIf="uiState.proxyState.boundConnections.length > 0">
            {{uiState.proxyState.boundConnections[0].address}}:{{uiState.proxyState.boundConnections[0].port}}
        </strong>
    </span>
</div>
