
<div style="height: 100%; ">

    <table class="summary-table" *ngIf="exchange.responseHeader">
        <tr *ngFor="let header of exchange.responseHeader.headers | sort:'name'" >
            <ng-container *ngIf="!header.name.startsWith(':') && header.forwarded">

                <th>{{ header.name }}</th>
                <td>

                    <a title="Copy to clipboard" href="javascript:;" class="" (click)="setClipboard(header.value)">
                        <span class="material-icons" style="font-size:10px !important">content_copy</span></a>
                    {{ header.value }}</td>
            </ng-container>
        </tr>
    </table>


</div>
