<div class="modal-header">
    <h4 class="modal-title pull-left">
        Set redirect to URL
    </h4>
    <button type="button" class="btn-close close pull-right white" aria-label="Close" (click)="cancel()">
        <span aria-hidden="true" class="visually-hidden">&times;</span>
    </button>
</div>
<div class="modal-body" style="min-height: 50px">
    <div>
        <div class="form-group">
            <label for="statusCode">Status code</label>
            <select type="text"
                    class="form-control" id="statusCode" [(ngModel)]="model.statusCode"
                    placeholder="Status code">
                <option *ngFor="let option of redirectionTypes" [value]="option.statusCode">{{ option.statusCode }} - {{ option.statusText}}</option>
            </select>
        </div>
        <div class="form-group">
            <label for="url">Location</label>
            <input type="text" class="form-control" id="url" [(ngModel)]="model.location" placeholder="Location">
        </div>
    </div>
</div>
<div class="modal-footer">
    <button class="btn btn-primary" (click)="save()">Save</button>
    <button class="btn btn-dark" (click)="cancel()">Cancel</button>
</div>
