<div *ngIf="exchange" class="exchange-viewer-main-content" style="height : calc(100% - 32px)">

    <div style="" class="btn-tab-tool">
        <ng-container *ngFor="let tab of tabs">
            <a class="btn btn-tab" [class]="{
                'btn-tab-selected' : tab === context.currentTab
              }"
               (click)="setTab(tab)"
               href="javascript:;">
                {{tab}}
            </a>&nbsp;
        </ng-container>
    </div>

    <div *ngIf="context.currentTab === 'Content'" echange-viewer [exchange]="exchange"
         style="height : calc(100% - 52px)"></div>
    <div *ngIf="context.currentTab === 'Connection'" echange-connectivity [exchange]="exchange"
         [connectionId]="exchange.connectionId" style="height : calc(100% - 52px)"></div>
    <div *ngIf="context.currentTab === 'Metrics'" exchange-metrics style="height : calc(100% - 52px)" [exchange]="exchange"></div>
    <div *ngIf="context.currentTab === 'Tools'" exchange-tools [exchange]="exchange"
         style="height : calc(100% - 52px)"></div>

</div>
<div class="exchange-viewer-main-status" *ngIf="exchange">

    <div>
        <span class="small float-start" style="line-height: 14px !important;">
            <span>Exchange <span class="text-teal">#{{ exchange.id }}</span></span>
            <br/>
            <span title="Instant received from proxy" class="text-gray-300">{{ exchange.metrics.receivedFromProxy | date : 'long' }}</span>
        </span>

        <span class="float-end" >
        <a href="javascript:;" class="btn btn-secondary" (click)="tag()">Tag <span
            *ngIf="exchange.tags.length">({{ exchange.tags.length }})</span></a>&nbsp;
        <a href="javascript:;" class="btn btn-secondary" (click)="comment()">Comment  <span
            *ngIf="exchange.comment">(1)</span></a>&nbsp;

    </span>

    </div>


</div>
