.context-menu {
    z-index : 99999;
    position: absolute;
    background : var(--bs-gray-500);
    border-radius: 4px;
    font-size:0.95em;
    overflow: hidden;
}

.context-menu-action{

    white-space: nowrap;
    text-overflow: ellipsis;
    width: 350px;
    overflow: hidden;
}

.context-menu-action-divider {
    width : 100%;
    height : 2px;
    background : var(--bs-gray-600);

}

.context-menu-action-clickable {
    padding :6px 32px 6px 16px;
    cursor: default;
    min-width: 200px;
}

.context-menu-action-clickable:hover{
    background-color: var(--bs-primary);
}
