<div class="modal-header">
    <h4 class="modal-title pull-left">
        <span *ngIf="selectMode">Select a filter</span>
        <span *ngIf="!selectMode">Manage filters</span>

    </h4>
    <button type="button" class="btn-close close pull-right white" aria-label="Close" (click)="bsModalRef.hide()">
      <span aria-hidden="true" class="visually-hidden">&times;</span>
    </button>
  </div>
  <div class="modal-body" style="min-height: 400px">
    <div>
        <p *ngIf="!filterHolders">
            Loading filters
        </p>
        <div *ngIf="filterHolders">
            <div style="margin-bottom:18px">
                <button class="btn  btn-primary">+ Add new filter</button>
                <span class="float-end" style="white-space: no-wrap">
                    <select class="form-select" style="width: 250px">
                        <option selected>All</option>
                        <option>On computer</option>
                        <option>In session</option>
                    </select>
                </span>
            </div>


            <div class="shady-box table-box" style="">
                <table style="width:100%" class="filter-table">
                    <tr>
                        <th style="width:32px">&nbsp;</th>
                        <th>Name</th>
                        <th style="width:150px">Type</th>
                        <th style="width:100px">Storage</th>
                        <th>Actions</th>
                    </tr>
                    <tr *ngFor="let filterHolder of filterHolders">
                        <td>
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked" checked>
                              </div>
                        </td>
                        <td>{{filterHolder.filter.friendlyName }}</td>
                        <td>{{filterHolder.filter.typeKind }}</td>
                        <td>
                            <span *ngIf="filterHolder.storeLocation === 'Computer'">Computer</span>
                            <span *ngIf="filterHolder.storeLocation === 'OnSession'">In session</span>
                        </td>
                        <td>
                            <button class="btn btn-secondary btn-outline-primary" (click)="openFilterEdit(filterHolder.filter)">Edit</button> &nbsp;
                            <button class="btn btn-secondary btn-outline-danger" (click)="deleteFilter(filterHolder.filter)">Delete</button>
                        </td>
                    </tr>
                </table>
            </div>
        </div>

    </div>
  </div>
  <div class="modal-footer">
    <button class="btn btn-primary" (click)="bsModalRef.hide()">Save</button>
    <button class="btn btn-dark" (click)="bsModalRef.hide()">Cancel</button>
  </div>
