


<div>

    <div class="row">
        <div class="col-6">
            <div class="form-floating">
                <input type="text" class="form-control" id="floatingInputValue"  [(ngModel)]="context.exchange.knownAuthority" placeholder="host">
                <label for="floatingInputValue">Host</label>
            </div>
        </div>
        <div class="col-6">
            <div class="form-floating">
                <input type="number" class="form-control"  min="1" max="65535" [(ngModel)]="context.exchange.knownPort">
                <label for="floatingInputValue">Port</label>
            </div>
        </div>
    </div>

</div>



