<app-method-filter-form [filter]="get(filter)" [validationSource]="validationSource"
                        *ngIf="filter.typeKind === 'MethodFilter'"></app-method-filter-form>
<app-host-filter-form [filter]="get(filter)" [validationSource]="validationSource"
                      *ngIf="filter.typeKind === 'HostFilter'"></app-host-filter-form>
<app-filter-collection-form [filter]="get(filter)" [validationSource]="validationSource"
                            *ngIf="filter.typeKind === 'FilterCollection'"></app-filter-collection-form>
<app-full-url-filter-form [filter]="get(filter)" [validationSource]="validationSource"
                            *ngIf="filter.typeKind === 'FullUrlFilter'"></app-full-url-filter-form>
<app-path-filter-form [filter]="get(filter)" [validationSource]="validationSource"
                            *ngIf="filter.typeKind === 'PathFilter'"></app-path-filter-form>
<app-ip-egress-filter-form [filter]="get(filter)" [validationSource]="validationSource"
                            *ngIf="filter.typeKind === 'IpEgressFilter'"></app-ip-egress-filter-form>
