<div class="modal-header">
    <h4 class="modal-title pull-left">
        Create/Select filter
    </h4>
    <button type="button" class="btn-close close pull-right white" aria-label="Close" (click)="cancel()">
        <span aria-hidden="true" class="visually-hidden">&times;</span>
    </button>
</div>
<div class="modal-body" style="min-height: 400px">
    <p *ngIf="!filterTemplates">
        Loading templates ....
    </p>
    <div *ngIf="filterTemplates">
        <div style="margin-bottom: 12px">

            <div class="form-floating">
                <input id="search-block-input" type="text" [(ngModel)]="searchString" (ngModelChange)="searchStringChanged()" class="form-control search-block-input"
                       [placeholder]="'Search a filter template among ' + filterTemplates.length + ' templates and premade filters'" />
                <label for="search-block-input">{{ 'Search a filter template among ' + filterTemplates.length + ' templates and premade filters' }}</label>
            </div>

        </div>

        <ng-container *ngIf="!searchString">

            <h5 class="text-info">Commonly used filters</h5>

            <div class="search-result-block shady-box">

                <div class="row">
                    <div *ngFor="let filterTemplate of filterTemplates | funcFilter : commonOnly" class="col-md-4 button-container">
                        <a href="javascript:;" (click)="select(filterTemplate.filter)"
                           class="result-link">{{filterTemplate.label}}
                            <span class="text-info">({{filterTemplate.group}})</span></a>
                    </div>
                </div>
            </div>
        </ng-container>


        <ng-container *ngIf="searchString">

            <h4>Items matching search string : <strong>{{filteredFilterTemplates.length}}</strong></h4>

            <div class="search-result-block shady-box">

                <ng-container *ngIf="filteredFilterTemplates.length">
                    <div class="row">
                        <div *ngFor="let filterTemplate of filteredFilterTemplates" class="col-md-4 button-container">
                            <a href="javascript:;" (click)="select(filterTemplate.filter)"
                               [title]="filterTemplate.label"
                               class="result-link text-white">
                                <span class="text-teal" *ngIf="!filterTemplate.filter.preMadeFilter"><i class="fa fa-cog" aria-hidden="true"></i></span>
                                {{filterTemplate.label}}
                                <span class="text-info">({{filterTemplate.group}})</span>
                            </a>
                        </div>
                    </div>
                </ng-container>

                <ng-container  *ngIf="!filteredFilterTemplates.length">
                    <p class="text-center">No result found for <strong>{{searchString}}</strong></p>
                </ng-container>

            </div>
        </ng-container>


    </div>
</div>
<div class="modal-footer">
    <!--    <button class="btn btn-primary" (click)="save()">Save</button>-->
    <button class="btn btn-dark" (click)="cancel()">Cancel</button>
</div>
