<div class="modal-header">
    <h4 class="modal-title pull-left">
        Create a new filter - Choose the filter kind
    </h4>
    <button type="button" class="btn-close close pull-right white" aria-label="Close" (click)="cancel()">
        <span aria-hidden="true" class="visually-hidden">&times;</span>
    </button>
</div>
<div class="modal-body" style="min-height: 400px">
    <p *ngIf="!filterTemplates">
        Loading templates ....
    </p>
    <div *ngIf="filterTemplates">
        <div class="alert bg-dark">Select the type of filter to create</div>

        <div class="row">
            <div *ngFor="let filterTemplate of filterTemplates" class="col-md-4 button-container">
                <a href="javascript:;" (click)="select(filterTemplate.filter)"
                   class="btn btn-outline-primary btn-dark text-white">{{filterTemplate.label}}
                    ({{filterTemplate.group}})</a>
            </div>
        </div>

    </div>
</div>
<div class="modal-footer">
    <!--    <button class="btn btn-primary" (click)="save()">Save</button>-->
    <button class="btn btn-dark" (click)="cancel()">Cancel</button>
</div>
