<div class="modal-header">
    <h4 class="modal-title pull-left">
        <span>Manage rules</span>

    </h4>
    <button type="button" class="btn-close close pull-right white" aria-label="Close" (click)="close()">
        <span aria-hidden="true" class="visually-hidden">&times;</span>
    </button>
</div>
<div class="modal-body" style="min-height: 400px">
    <p *ngIf="!ruleContainers">
        Loading rules
    </p>
    <div *ngIf="ruleContainers">
         <p class="alert alert-dark">Rules are active actions applied to HTTP traffic during capture. Rules can be a regular request setup such as using a client certificate to complex traffic alteration.
              </p>

        <div style="margin-bottom:18px">
            <button class="btn  btn-primary"  (click)="createRule()">+ Add a new rule</button>&nbsp;
            <button class="btn  btn-primary"  (click)="disableAll()">
                - Disable all rules</button>
        </div>

        <div class="shady-box table-box">
            <perfect-scrollbar #perfectScroll style="height: 400px;">

                <div class="lead text-center" style="padding: 64px"  *ngIf="ruleContainers.length === 0">
                    There's no rule configured yet. <br/>
                    <a href="javascript:;" (click)="createRule()" class="fw-bold">Create a new rule</a>
                </div>

                <table style="width:100%" class="filter-table" *ngIf="ruleContainers.length > 0">
                    <tr>
                        <th style="width:32px">&nbsp;</th>
                        <th>Action</th>
                        <th style="width:280px">Filter</th>
                        <th style="width:32px" tilte="Rules are applied from low to high order">Order</th>
                        <th style="width:250px">&nbsp;</th>
                    </tr>
                    <tr *ngFor="let ruleContainer  of ruleContainers | sort: 'rule.order'; let i = index" >
                        <td style="text-align: center">

                            <a href="javascript:;"  (click)="enabledDisabled(ruleContainer)">

                                <span  class="material-icons mi text-green" *ngIf="ruleContainer.enabled">
                                    play_circle
                                </span>
                                    <span  class="material-icons  mi text-white-50" *ngIf="!ruleContainer.enabled">
                                    do_not_disturb_on
                                </span>
                            </a>
<!--                            <div class="form-check form-switch">-->
<!--                                <input class="form-check-input" type="checkbox"  [(ngModel)]="ruleContainer.enabled" >-->
<!--&lt;!&ndash;                                <label class="form-check-label">{{ruleContainer.rule.action.typeKind}}</label>&ndash;&gt;-->
<!--                            </div>-->
                        </td>
                        <td>
                            <a href="javascript:;" (click)="enabledDisabled(ruleContainer)" class="span-friendly-name text-info"
                               [ngClass]="{'text-white' : ruleContainer.enabled}">{{ruleContainer.rule.action.friendlyName }}</a>
                        </td>
                        <td>

                            <i class="bi bi-exclamation-triangle-fill text-danger"
                               title="This filter is out of scope for current action. This rule will not be applied."
                               *ngIf="ruleContainer.rule.filter.scopeId > ruleContainer.rule.action.scopeId"></i>
                            {{ruleContainer.rule.filter.friendlyName }}
                            <a href="javascript:;" title="Change this filter" (click)="editRule(ruleContainer.rule)">
                                <i class="bi bi-pencil-fill"></i>
                            </a>
                        </td>
                        <td class="text-center">{{ ruleContainer.rule.order}}</td>
                        <td>
<!--                            <button class="btn btn-secondary btn-outline-success"  (click)="enabledDisabled(ruleContainer)">Enabled</button> &nbsp;-->
                            <button [disabled]="i === 0"  title="Move up" class="btn btn-outline-primary bg-info" (click)="moveUp(ruleContainer)">
                                <span  class="material-icons  mi mi-sm">
                                    expand_less
                                </span>
                            </button>&nbsp;
                            <button [disabled]="i === ruleContainers.length - 1"  title="Move down" class="btn btn-outline-primary" (click)="moveDown(ruleContainer)">
                                <span  class="material-icons  mi mi-sm">
                                    expand_more
                                </span>
                            </button>&nbsp;
<!--                             <button class="btn btn-secondary btn-outline-primary" (click)="editRule(ruleContainer.rule)">Edit</button>&nbsp;-->
                             <button class="btn btn-secondary btn-outline-danger" (click)="deleteRule(ruleContainer.rule)">Delete</button>
                        </td>
                    </tr>
                </table>
            </perfect-scrollbar>
        </div>
    </div>
</div>
<div class="modal-footer">
    <button class="btn btn-primary" (click)="save()">
        Save
    </button>
    <button class="btn btn-dark" (click)="close()">Cancel</button>
</div>
