<div class="view-box" style="height:100%">

    <div *ngIf="!connection">

        <div *ngIf="exchange.connectionId" class="text-center" style="width: 100%">
            Loading data
        </div>

        <div *ngIf="!exchange.connectionId" class="text-center" style="width: 100%">
            No connection data available
        </div>
    </div>

    <div *ngIf="connection" style="width:100%">

        <div style="margin-bottom: 10px">
            <span class="lead">
                Underlying connection <strong class="text-white">#{{ connection.id }}</strong></span>


            <div class="dropdown float-end small" dropdown [dropup]="false">
                <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown"
                        aria-expanded="false" dropdownToggle>
                    Raw network capture
                </button>
                <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1" *dropdownMenu>
                    <li><a class="dropdown-item" href="javascript:;" (click)="downloadRawCapture()">Save to file (.pcapng)</a></li>
                    <li><a class="dropdown-item" href="javascript:;" (click)="openRawCapture(false)">Open in default viewer</a></li>
                    <li *ngIf="captureKey"><a class="dropdown-item" href="javascript:;" (click)="openRawCapture(true)">Open in default viewer (with NSS Key)</a></li>
                </ul>

            </div>
        </div>
        <table style="width:  100%" class="connectivity-table">
            <tr>
                <th style="min-width: 120px;visibility: hidden;"></th>
                <th style="width: 50%">Local</th>
                <th style="width: 50%">Remote</th>
            </tr>
            <tr>
                <th>Hostname</th>
                <td>
                    <input type="text" class="form-control form-connectivity" readonly [value]="'-/-'"  />
                </td>
                <td> <input type="text" class="form-control form-connectivity" readonly [value]="connection.authority.hostName"  /> </td>
            </tr>
            <tr>
                <th>IP</th>
                <td>
                    <input type="text" class="form-control form-connectivity" readonly [value]="connection.localAddress"  />
                </td>
                <td>
                    <input type="text" class="form-control form-connectivity" readonly [value]="connection.remoteAddress"  />

                </td>
            </tr>
            <tr>
                <th>Port</th>
                <td>
                    <input type="text" class="form-control form-connectivity" readonly [value]="connection.localPort"  />

                </td>
                <td>
                    <input type="text" class="form-control form-connectivity" readonly [value]="connection.authority.port"  />


                </td>
            </tr>
            <tr *ngIf="connection.sslInfo">
                <th>Certificate</th>
                <td>
                    <input type="text" *ngIf="!connection.sslInfo.localCertificateSubject" class="form-control form-connectivity" readonly [value]="'-/-'"  />
                    <input type="text" *ngIf="connection.sslInfo.localCertificateSubject" class="form-control form-connectivity" readonly [value]="connection.sslInfo.localCertificateSubject"  />

                </td>
                <td>
                    <input type="text" class="form-control form-connectivity" readonly [value]="connection.sslInfo.remoteCertificateSubject"  />

                </td>
            </tr>
            <tr *ngIf="connection.sslInfo">
                <th>Issuer</th>
                <td>
                    <input type="text" *ngIf="!connection.sslInfo.localCertificateIssuer" class="form-control form-connectivity" readonly [value]="'-/-'"  />
                    <input type="text" *ngIf="connection.sslInfo.localCertificateIssuer" class="form-control form-connectivity" readonly [value]="connection.sslInfo.localCertificateIssuer"  />

                </td>
                <td>
                    <input type="text" class="form-control form-connectivity" readonly [value]="connection.sslInfo.remoteCertificateIssuer"  />
                </td>
            </tr>
            <tr>
                <th>&nbsp;</th>
                <td>
                    &nbsp;

                </td>
                <td>
                    &nbsp;
                </td>
            </tr>
            <tr  *ngIf="connection.sslInfo">
                <th>SSL protocol</th>
                <td colspan="2" class="text-center">
                    <input type="text" class="form-control form-connectivity" readonly [value]="connection.sslInfo.sslProtocol"  />
                </td>
            </tr>
            <tr  *ngIf="connection.sslInfo">
                <th>Cipher</th>
                <td colspan="2" class="text-center">
                    <input type="text" class="form-control form-connectivity" readonly [value]="connection.sslInfo.cipherAlgorithm"  />
                </td>
            </tr>
            <tr  *ngIf="connection.sslInfo">
                <th>Hash</th>
                <td colspan="2" class="text-center">
                    <input type="text" class="form-control form-connectivity" readonly [value]="connection.sslInfo.hashAlgorithm"  />
                </td>
            </tr>
            <tr *ngIf="connection.sslInfo">
                <th>Alpn</th>
                <td colspan="2" class="text-center">
                    <input type="text" *ngIf="connection.sslInfo.negotiatedApplicationProtocol" class="form-control form-connectivity" readonly [value]="connection.sslInfo.negotiatedApplicationProtocol"  />
                    <input type="text" *ngIf="!connection.sslInfo.negotiatedApplicationProtocol" class="form-control form-connectivity" readonly [value]="'-'"  />
                </td>
            </tr>
            <tr  *ngIf="connection.sslInfo">
                <th>Http version</th>
                <td colspan="2" class="text-center">
                    <input type="text" *ngIf="connection.httpVersion" class="form-control form-connectivity" readonly [value]="connection.httpVersion"  />
                </td>
            </tr>
            <tr  *ngIf="captureKey">
                <th style="vertical-align: top">NSS key log</th>
                <td colspan="2" class="text-center">
                    <pre  class="form-control form-connectivity" style="height : 80px; text-align: left" readonly >{{captureKey}}</pre>
                </td>
            </tr>
        </table>


    </div>

</div>

