.connectivity-table{
    width:100%
}

.connectivity-table th{
    font-weight : normal; 
    color: var(--bs-gray-300);
}
.connectivity-table td, .connectivity-table th{
    text-align: left;
    padding: 2px;
    padding-left: 12px;
}

.form-connectivity {
    font-family: monospace;
    font-size:11px;
}