.connectivity-table{
    width:100%
}

.connectivity-table td, .connectivity-table th{
    vertical-align: top;
    padding: 0px 10px 0px 10px;; 
}

.connectivity-table th:nth-child(odd) {
    text-align: right;
}