<!--<div class="modal-header">-->
<!--    <h4 class="modal-title pull-left">-->
<!--        <span *ngIf="isEdit">Edit</span>-->
<!--        <span *ngIf="!isEdit">Create</span>-->
<!--        rule-->
<!--    </h4>-->
<!--    <button type="button" class="btn-close close pull-right white" aria-label="Close" (click)="cancel()">-->
<!--        <span aria-hidden="true" class="visually-hidden">&times;</span>-->
<!--    </button>-->
<!--</div>-->
<div class="modal-body" style="height: 140px;">
    <div class="h3 text-center" style="height : 100px; line-height: 100px">
        {{message}} ... <i class="fa fa-spinner fa-spin  fa-fw"></i>
    </div>
</div>
