<div class="modal-header">
    <h4 class="modal-title pull-left">
        <span *ngIf="isEdit">Edit</span>
        <span *ngIf="!isEdit">Create</span>
        rule
    </h4>
    <button type="button" class="btn-close close pull-right white" aria-label="Close" (click)="cancel()">
        <span aria-hidden="true" class="visually-hidden">&times;</span>
    </button>
</div>
<div class="modal-body" style="min-height: 50px">
    <div>

        <p *ngIf="validationState !== null">
            <span *ngIf="validationState" class="text-success">
                Validation succeed
            </span>
            <span *ngIf="!validationState" class="text-danger">
                Some inputs were not filled correctly.
            </span>
        </p>

        <div class="">
            <h4>Action ({{action.friendlyName}})</h4>
            <div class="shady-box rule-form-box" style="margin-bottom: 16px">

                <div class="row">
                    <div class="col-md-12">
                        <div class="" style="padding: 16px">
                            <app-rule-render [action]="action"  [validationSource]="validationSource"></app-rule-render>
                            <p *ngIf="targets.length === 0">This action has no editable setting.</p>
                        </div>
                    </div>
                </div>

            </div>
            <h4>Filter</h4>
            <div class="shady-box rule-form-box" style="">
                <div class="row">
                    <div class="col-md-8 offset-2">
                        <div class="text-info">
                            Filter decides when this rule applies.
                        </div>
                        <div style="margin-bottom: 8px" class="lead">{{ rule.filter.friendlyName }} <a href="javascript:;" (click)="editFilter(rule.filter)">Edit</a></div>
                        <a href="javascript:;" class="btn btn-outline-primary btn-secondary" (click)="changeToAnyFilter()">All requests</a>
                        &nbsp;
                        <a href="javascript:;" class="btn btn-outline-primary btn-secondary" (click)="changeFilter()">Select from template</a>
                        &nbsp;
                        <a href="javascript:;" class="btn btn-outline-primary btn-secondary" (click)="selectLocalFilter()">Select local filter</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal-footer">
     <span class="float-start  me-auto text-danger" *ngIf="rule.action.scopeId < rule.filter.scopeId">
         <i class="bi bi-exclamation-triangle-fill"></i>
        This rule is out of scope. This means that the action is triggered before the filtering operation.
      </span>

    <button class="btn btn-primary" (click)="save()">Save</button>
    <button class="btn btn-dark" (click)="cancel()">Cancel</button>
</div>
