
<div class="middle-content">
    
    <div class="right-vert-bar">
        
        <app-toggle [materialIcon]="'filter_alt'" [label]="'Filters'">
            
        </app-toggle>    
        <app-toggle [materialIcon]="'dvr'" [label]="'Hosts'">
            
        </app-toggle>    
        <app-toggle [materialIcon]="'http'" [label]="'Objects'">
            
        </app-toggle>
    </div>
    
    <div class="filter-pane">
        <app-filter></app-filter>
    </div>
    <div class="objects-pane"></div>


</div>

<app-status-bar></app-status-bar>