.main-division {

    display : flex; 
    flex-wrap: nowrap;
    align-items: stretch;
}

.title-box {
    padding : 6px;
    width : 100%;
    background-color: var(--bs-gray-500);
    display : flex; 
    align-items: stretch;
}

.title-box-inside {
    box-shadow: var(--bs-gray-600) 0px 7px 29px 0px !important;
    border-radius : 8px !important; 
}

.filter-header{
    vertical-align: middle;
    display: flex;
    align-items: center;
    flex-grow: 4;
    padding: 4px; 
    padding-left: 32px;
}

.block-left-parent {
    display : flex; 
    align-items: stretch;
    flex-direction:  column;
    flex-grow: 4;
    min-width: 494px;
}

.block-thin {
    width : 2px; 
    background: transparent;
    cursor:  e-resize;
}

.block-thin:hover {
    background:  var(--bs-gray-300); ;
   
}


.block-left {
    width : 100%; 
    display : flex; 
    flex-wrap: nowrap;
    align-items: stretch;
    height : calc(100% - 60px);
}

.block-right {
    flex-grow: 4;
    align-items: stretch;
    border-left: 2px solid var(--bs-gray-500); 
    background-color: var(--bs-gray-500); ;
}

.middle-content {
    width : 100%; 
    height: calc(100vh - 56px);

    display : flex; 
    flex-wrap: nowrap;
    align-items: stretch;
    flex-grow: 4;
    
    padding: 8px 16px 8px 16px; 
    width: 100%;
}

.right-vert-bar {
    height: 100%;
    width : 75px;
    background-color: var(--bs-dark);
    border-left : 2px solid var(--gray-900);
    padding-right: 0;
    
    display : flex; 
    flex-direction:  column;
}

.filter-pane {
    
    background-color: var(--bs-gray-600);
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
  
    
    flex-grow: 4;

}
.objects-pane {
    background-color: var(--bs-gray-700);
    border : 2px solid var(--gray-900);
    flex-grow: 4;
}

.shady-box {
     box-shadow:  var(--bs-gray-700) 0px 3px 8px;
  //  box-shadow: var(--bs-gray-700) 0px 50px 100px -20px, var(--bs-gray-700) 0px 30px 60px -30px, var(--bs-gray-700) 0px -2px 6px 0px inset;
  //box-shadow: var(--bs-gray-900) 0px 2px 4px 0px, var(--bs-gray-900) 0px 2px 16px 0px;
}