
<div class="main-division">
    <div class="block-left-parent">
        <div class="title-box">
            <div class="title-box-inside">
                
                <a href="javascript:;" class="btn btn-outline-light" style="font-size: 18px">
                    <i class="bi bi-play-circle-fill"></i>
                </a>
                &nbsp;
                <a href="javascript:;" class="btn btn-outline-danger" style="font-size: 18px">
                    <i class="bi bi-record-circle-fill"></i>
                </a>
            </div>
            <div class="filter-header">
                <span>Filters</span> : &nbsp; &nbsp;
                <div class="btn-group"  role="group">
                    <button type="button"  href="javascript:;" class="btn btn-dark active" aria-current="page">all</button>
                    <button type="button"  href="javascript:;" class="btn btn-dark" title="every exchange having response content-type equals to json">json</button>
                    <button type="button"  href="javascript:;" class="btn btn-dark">(x)html</button>
                    <button type="button"  href="javascript:;" class="btn btn-dark">post</button>
                    <button type="button"  href="javascript:;" class="btn btn-dark" title="dynamic datas are structure who can holds models. This includes (json, bson, proto-buf, xml) ">dyn</button>

                    <div class="btn-group" role="group" dropdown>
                        <button id="btnGroupDrop851" type="button" class="btn btn-secondary dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false"
                        dropdownToggle>
                           create
                        </button>
                        <ul class="dropdown-menu bg-light text-primary"  *dropdownMenu aria-labelledby="btnGroupDrop851">
                          <li role="menuitem"><a class="dropdown-item"  href="javascript:;">Quick create host filter</a></li>
                          <li role="menuitem"><a class="dropdown-item"  href="javascript:;">Quick create method filter</a></li>
                          <li role="menuitem"><a class="dropdown-item"  href="javascript:;">Quick create process filter</a></li>
                          <li class="divider dropdown-divider"></li>

                          <li role="menuitem"><span class="dropdown-item" ><i>Last filters</i></span></li>

                          
                          <li role="menuitem"><a class="dropdown-item"  href="javascript:;">host <strong>smartizy.com</strong></a></li>
                          <li class="divider dropdown-divider"></li>
                          <li role="menuitem"><a class="dropdown-item"  href="javascript:;">Create advanced filter</a></li>
                        </ul>
                      </div>
                  </div>
            </div>
            
            
            
        </div>
        <div class="block-left">
            <div class="right-vert-bar">
                
                <app-toggle [materialIcon]="'http'" [label]="'Objects'">
                    
                </app-toggle>    
                <app-toggle [materialIcon]="'dvr'" [label]="'Hosts'">
                    
                </app-toggle>    
                <app-toggle [materialIcon]="'memory'" [label]="'Processes'">
                    
                </app-toggle>
            </div>
            
            <div class="filter-pane">
                <app-filter></app-filter>
            </div>
        </div>
    </div>
    <div class="block-right">
        <div class="middle-content">
            
            <div style="width: 100%">
                <div>


                    <div style="margin-bottom: 8px">
                        <span>
                            <strong>POST</strong>&nbsp; <a href="javascript:;" title="Click to copy full URL">/api/users/ad466e12f4621bc</a>
                        </span>
                        <span class="float-end">
                                <span>api.smartizy.com</span> 
                        </span>
                    </div>
                    <div class="btn-group"  role="group" style="box-shadow: var(--bs-gray-600) 0px 7px 29px 0px !important;">
                        <button type="button"  href="javascript:;" class="btn btn-dark active" aria-current="page">headers</button>
                        <button type="button"  href="javascript:;" class="btn btn-dark" >body (436b)</button>
                        <button type="button"  href="javascript:;" class="btn btn-dark">cookies</button>
                        <button type="button"  href="javascript:;" class="btn btn-dark">authentication</button>
                        <button type="button"  href="javascript:;" class="btn btn-dark">json viewer</button>
                    </div>
    
                    <div style="background: var(--bs-gray-600); width : 100%; height: 200px; margin-top: 10px; border-radius: 8px;;
                    box-shadow: var(--bs-gray-700) 0px 7px 29px 0px !important;">
                        
                    </div>
                </div>

                <div style="margin-top : 10px">


                    <div style="margin-bottom: 8px">
                        <span>
                            <strong>201</strong>&nbsp; <a href="javascript:;">Content Created</a>
                        </span>
                        <span class="float-end">
                                <span class="badge badge-warning bg-secondary">HTTP/1.1</span> <span>TLS1.2</span>
                        </span>
                    </div>
                    <div class="btn-group"  role="group">
                        <button type="button"  href="javascript:;" class="btn btn-dark active" aria-current="page">headers</button>
                        <button type="button"  href="javascript:;" class="btn btn-dark" >body (1236b)</button>
                        <button type="button"  href="javascript:;" class="btn btn-dark">set-cookies</button>
                        <button type="button"  href="javascript:;" class="btn btn-dark">authentication</button>
                        <button type="button"  href="javascript:;" class="btn btn-dark">json viewer</button>
                    </div>
    
                    <div style="background: var(--bs-gray-600); width : 100%; height: 200px; margin-top: 10px; border-radius: 8px;;">
                        
                    </div>
                </div>



            </div>


            
        </div>
    </div>
</div>




<app-status-bar></app-status-bar>