
<div class="main-division">
    <div class="block-left-parent">
        <div class="title-box">
            <div class="title-box-inside">
                
                <a href="javascript:;" class="btn btn-outline-light" style="font-size: 18px">
                    <i class="bi bi-play-circle-fill"></i>
                </a>
                &nbsp;
                <a href="javascript:;" class="btn btn-outline-danger" style="font-size: 18px">
                    <i class="bi bi-record-circle-fill"></i>
                </a>
            </div>
            <div class="filter-header">
                <span>Filters</span> : &nbsp; &nbsp;
                <div class="btn-group"  role="group">
                    <button type="button"  href="javascript:;" class="btn btn-dark active" aria-current="page">all</button>
                    <button type="button"  href="javascript:;" class="btn btn-dark" title="every exchange having response content-type equals to json">json</button>
                    <button type="button"  href="javascript:;" class="btn btn-dark">(x)html</button>
                    <button type="button"  href="javascript:;" class="btn btn-dark">post</button>
                    <button type="button"  href="javascript:;" class="btn btn-dark" title="dynamic datas are structure who can holds models. This includes (json, bson, proto-buf, xml) ">dyn</button>

                    <div class="btn-group" role="group" dropdown>
                        <button id="btnGroupDrop851" type="button" class="btn btn-secondary dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false"
                        dropdownToggle>
                           create
                        </button>
                        <ul class="dropdown-menu bg-light text-primary"  *dropdownMenu aria-labelledby="btnGroupDrop851">
                          <li role="menuitem"><a class="dropdown-item"  href="javascript:;">Quick create host filter</a></li>
                          <li role="menuitem"><a class="dropdown-item"  href="javascript:;">Quick create method filter</a></li>
                          <li role="menuitem"><a class="dropdown-item"  href="javascript:;">Quick create process filter</a></li>
                          <li class="divider dropdown-divider"></li>

                          <li role="menuitem"><span class="dropdown-item" ><i>Last filters</i></span></li>

                          
                          <li role="menuitem"><a class="dropdown-item"  href="javascript:;">host <strong>smartizy.com</strong></a></li>
                          <li class="divider dropdown-divider"></li>
                          <li role="menuitem"><a class="dropdown-item"  href="javascript:;">Create advanced filter</a></li>
                        </ul>
                      </div>
                  </div>
            </div>
            
            
            
        </div>
        <div class="block-left">
            <div class="right-vert-bar">
                
                <app-toggle [materialIcon]="'http'" [label]="'Objects'">
                    
                </app-toggle>    
                <app-toggle [materialIcon]="'dvr'" [label]="'Hosts'">
                    
                </app-toggle>    
                <app-toggle [materialIcon]="'memory'" [label]="'Processes'">
                    
                </app-toggle>
            </div>
            
            <div class="filter-pane shady-box">
                <app-filter></app-filter>
            </div>
        </div>
    </div>
    <div class="block-right">
        <div class="middle-content">
            <app-exchange-viewer style="width:100%"></app-exchange-viewer>            
        </div>
    </div>
</div>




<app-status-bar></app-status-bar>