<div class="row mb-3">
    <div class="col-sm-9">

        <div class="form-floating">
            <input  type="text" [(ngModel)]="action.username" class="form-control" />
            <label >Username</label>
        </div>
        <div class="p-1 text-danger" *ngIf="validationState['username']">
            {{ validationState['username'] }}
        </div>
    </div>
</div>
<div class="row mb-3">
    <div class="col-sm-9">

        <div class="form-floating">
            <input type="text" [(ngModel)]="action.password" class="form-control" />
            <label>Password</label>
        </div>
        <div class="p-1 text-danger" *ngIf="validationState['password']">
            {{ validationState['password'] }}
        </div>
    </div>
</div>
