
<div class="row mb-3">
    <div class="col-sm-9">
        <div class="form-floating">
            <input  type="text" [(ngModel)]="filter.pattern" class="form-control" />
            <label>Search text</label>
        </div>
        <div class="p-1 text-danger" *ngIf="validationState['pattern']">
            {{ validationState['pattern'] }}
        </div>
    </div>
</div>
<div class="row mb-3 offset-1">

    <div class="row mb-3">
        <label class="col-sm-2 col-form-label">Search options</label>
        <div class="col-sm-10">

            <div class="form-check">
                <input class="form-check-input" type="checkbox" id="caseSensitive" [(ngModel)]="filter.caseSensitive" [value]="true">
                <label class="form-check-label" for="caseSensitive">
                    Case sensitive
                </label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="checkbox" id="searchInRequestHeader" [(ngModel)]="filter.searchInRequestHeader" [value]="true">
                <label class="form-check-label" for="searchInRequestHeader">
                    Search in request header
                </label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="checkbox" id="searchInResponseHeader" [(ngModel)]="filter.searchInResponseHeader" [value]="true">
                <label class="form-check-label" for="searchInResponseHeader">
                    Search in response header
                </label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="checkbox" id="searchInRequestBody" [(ngModel)]="filter.searchInRequestBody" [value]="true">
                <label class="form-check-label" for="searchInRequestBody">
                    Search in request body
                </label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="checkbox" id="searchInResponseBody" [(ngModel)]="filter.searchInResponseBody" [value]="true">
                <label class="form-check-label" for="searchInResponseBody">
                    Search in response body
                </label>
            </div>

            <div class="alert alert-info">
                Search on request or response body is performed on the decoded and decompressed content.
            </div>
        </div>
    </div>

</div>
