.metrics-table {
    width : 100%;
}
.metrics-table td {
    padding : 4px;
}

.metrics-table tr td:first-child {
    width : 100px;
    text-align: right;
}

.metrics-table tr td:last-child {
    width : 80px;
    text-align: left;
}

.metrics-table tr:nth-child(odd) {
    //background-color: var(--bs-gray-600);
}

.metrics-table tr:nth-child(odd) td:first-child {
    border-radius : 4px 0 0 4px;
}

.metrics-table tr:nth-child(odd) td:last-child {
    border-radius: 0 4px 4px 0;
}

.metrics-table tr.line-info-unavailable td {
    color : var(--bs-gray-300);
}
