<div class="view-box" style="height:100%">
    <p *ngIf="!metrics">
        <span class="lead">
            <i class="fa fa-spinner fa-spin"></i>
            Loading metrics...
        </span>
    </p>
    <div *ngIf="metrics">

        <div class="alert alert-info">
            This frame will help you understand the various performance of the exchange the underlying connection.
        </div>

        <div style="margin-bottom: 16px">
            <h5 class="text-info">Connection timings
                <small class="pull-right">
                    <small *ngIf="metrics.rawMetrics.reusingConnection">
                        <i class="fa fa-warning text-warning"></i> reuse of an existing connection
                    </small>
                </small></h5>
            <div class="alert alert-info">
                <table class="metrics-table" *ngIf="lineInfos">

                    <tr *ngFor="let lineInfo of lineInfos | funcFilter : connectionOnly" [ngClass]="{'line-info-unavailable' : (lineInfo.value === undefined) || (lineInfo.value === null) }">
                        <td>{{ lineInfo.label }}</td>
                        <td>
                            <div style="height :16px; position: relative" class="vertical-bar"
                                 [style.width.%]="computeProportion(lineInfo, lineInfos).size"
                                 [style.left.%]="computeProportion(lineInfo, lineInfos).start">
                            </div>

                        </td>
                        <td>
                            <span *ngIf="((lineInfo.value === undefined) || (lineInfo.value === null))">-</span>
                            <span *ngIf="!((lineInfo.value === undefined) || (lineInfo.value === null))">
                         {{ formatDuration(lineInfo.value) }}
                    </span>

                        </td>
                    </tr>
                </table>
            </div>
        </div>

        <div style="margin-bottom: 8px;">
            <h5 class="text-info">
                Exchange timings

            </h5>
            <div class="alert alert-info">
                <table class="metrics-table" *ngIf="lineInfos">

                    <tr *ngFor="let lineInfo of lineInfos | funcFilter : exchangeOnly" [ngClass]="{'line-info-unavailable' : (lineInfo.value === undefined) || (lineInfo.value === null) }">
                        <td>{{ lineInfo.label }}</td>
                        <td>
                            <div style="height :16px; position: relative" class="vertical-bar"
                                 [ngClass]="{'bar-ttfb' : lineInfo.label === 'Time to first byte'}"
                                 [style.width.%]="computeProportion(lineInfo, lineInfos).size"
                                 [style.left.%]="computeProportion(lineInfo, lineInfos).start">
                            </div>
                        </td>
                        <td>
                            <span *ngIf="((lineInfo.value === undefined) || (lineInfo.value === null))">-</span>
                            <span *ngIf="!((lineInfo.value === undefined) || (lineInfo.value === null))">
                         {{ formatDuration(lineInfo.value) }}
                    </span>

                        </td>
                    </tr>
                </table>
            </div>
        </div>

        <div style="margin-bottom :0px; padding : 8px; padding-top: 0px;">
            &nbsp;
            <span class="pull-right">
                <span class="lead text-info">
                    Overall duration <strong class="text-white">{{ formatDuration(metrics.overAllDuration)}}</strong>
                </span>
            </span>
        </div>
    </div>
</div>
