
.cool-text-area {
    width:100%; height:100%; font-family: monospace; background: black;
    font-size: 1.01em;
    color: var(--bs-gray-200);
    overflow: auto;
    padding : 8px;
}


.error {
    text-decoration: underline;
    text-underline-color: red;
}

.good-header {
    color : var(--bs-primary);
}
