
<div class="modal-header">
    <h4 class="modal-title pull-left">
        {{ title }}
    </h4>
    <button type="button" class="btn-close close pull-right white" aria-label="Close" (click)="cancel()">
        <span aria-hidden="true" class="visually-hidden">&times;</span>
    </button>
</div>
<div class="modal-body" style="min-height: 50px">
    <div>
        <div style="margin-bottom : 8px">
            &nbsp;
            <span class="float-end">
                <a href="javascript:;" style="text-decoration: none" (click)="copyToClipboard()" >
                    <i class="fa fa-clipboard text-primary"></i>
                    Copy to clipboard</a>
            </span>
        </div>
        <textarea readonly [(ngModel)]="value" class="string-display"></textarea>
    </div>
</div>
<div class="modal-footer">
    <button class="btn btn-dark" (click)="cancel()">Close</button>
</div>
