/* Importing Bootstrap SCSS file. */
@import "~bootstrap/scss/bootstrap";

/* Importing Datepicker SCSS file. */
@import "node_modules/ngx-bootstrap/datepicker/bs-datepicker";
 

@import "../node_modules/@fontsource/roboto/";  

@import "variables-colors.scss";


/* You can add global styles to this file, and also import other style files */
html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: "Roboto";
  background : $gray-800;
} 

/* CAN (MUST) BE REMOVED ! Sample Global style */

* {
    color: $primary-color; 
    font-family: "Roboto";
}

