<div style="padding: 8px">
    <div style="margin-bottom: 16px">

        <p style="border-bottom: 1px solid var(--bs-gray-500)">
            Per content type
        </p>
        <div>
            <div class="form-check">
                <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                <label class="form-check-label" for="flexCheckDefault">
                  JSON
                </label>
              </div>
              <div class="form-check">
                <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked" checked>
                <label class="form-check-label" for="flexCheckChecked">
                  Html
                </label>
              </div>
              <div class="form-check">
                <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked" checked>
                <label class="form-check-label" for="flexCheckChecked">
                  XML
                </label>
              </div>
        </div>
    </div>

    <p style="border-bottom: 1px solid var(--bs-gray-500)">
        Per hostname
    </p>
    <div>
        <input class="form-control form-control-sm border-dark" type="text" placeholder="Type hostname here" aria-label=".form-control-sm example">
    </div>
</div>
