name: Coverage

on: workflow_dispatch

jobs:
  build-and-test-backend:
    name: "Build & core Tests"
    strategy:
      matrix:
        osversion: [Windows]
        ostype: ['self-hosted']
      fail-fast: false
        
    runs-on: ${{ matrix.osversion }}

    steps:
    - uses: actions/checkout@v3
      with:
        fetch-depth: 0
    - name: Setup .NET
      uses: actions/setup-dotnet@v3
      with:
        dotnet-version: 10.0.x
    - name: On validate main
      shell: bash
      env:
        TOKEN_FOR_NUGET : ${{ secrets.TOKEN_FOR_NUGET }}
        PARTNER_SECRET : ${{ secrets.PARTNER_SECRET }}
        
      run: bash build.sh validate-main
    - name: Upload coverage reports to Codecov
      uses: codecov/codecov-action@v3
      env:
        CODECOV_TOKEN: ${{ secrets.CODECOV_TOKEN }}
          
