name: Pull Request Check

on:
  pull_request:
    branches: [ "main" ]
    paths-ignore:
      - 'docs/**'
      - 'design/**'

jobs:
  build-and-test-backend:
    name: "Build & core Tests"
    strategy:
      matrix:
        osversion: [Linux, Windows, macOS]
        ostype: ['self-hosted']
        
    runs-on: ${{ matrix.osversion }}

    steps:
    - uses: actions/checkout@v3
      with:
        fetch-depth: 0
    - name: Setup .NET
      uses: actions/setup-dotnet@v3
      with:
        dotnet-version: 7.0.203
    - name: On pull request
      shell: bash
      run: ./build.sh validate-main