name: Pull Request Check

on:
  pull_request:
    branches: [ "main" ]
    paths-ignore:
      - 'docs/**'
      - 'design/**'
      - 'README.md'
      - 'version.json'
      - 'LICENSE.md'

jobs:
  build-and-test-backend:
    name: "Build & core Tests"
    strategy:
      matrix:
        osversion: [Linux, Windows]
        ostype: ['self-hosted']
      fail-fast: false
        
    runs-on: ${{ matrix.osversion }}

    steps:
    - uses: actions/checkout@v3
      with:
        fetch-depth: 0
    - name: Setup .NET
      uses: actions/setup-dotnet@v3
      with:
        dotnet-version: 10.0.x
    - name: On pull request
      shell: bash
      env:
        TOKEN_FOR_NUGET : ${{ secrets.TOKEN_FOR_NUGET }}
        PARTNER_SECRET : ${{ secrets.PARTNER_SECRET }}
      run: bash build.sh on-pull-request
