name: Publish Fluxzy CLI binaries

on: workflow_dispatch
      
jobs:
  publish-release:
    name: "Publish release"
    strategy:
      matrix:
        osversion: [Linux, Windows, macOS, macosarm]
        ostype: ['self-hosted']

    runs-on: ${{ matrix.osversion }}
    steps:
    - uses: actions/checkout@v3
      with:
        fetch-depth: 0
    - name: Setup .NET
      uses: actions/setup-dotnet@v2
      with:
        dotnet-version: 8.0.x
    - name: Publish CLI
      shell: bash
      env:
        TOKEN_FOR_NUGET : ${{ secrets.TOKEN_FOR_NUGET }}
        PARTNER_SECRET : ${{ secrets.PARTNER_SECRET }}

        UPLOAD_RELEASE_TOKEN : ${{ secrets.UPLOAD_RELEASE_TOKEN }}

        AZURE_VAULT_DESCRIPTION_URL : ${{ secrets.AZURE_VAULT_DESCRIPTION_URL }}
        AZURE_VAULT_URL : ${{ secrets.AZURE_VAULT_URL }}
        AZURE_VAULT_CERTIFICATE : ${{ secrets.AZURE_VAULT_CERTIFICATE }}
        AZURE_VAULT_CLIENT_ID : ${{ secrets.AZURE_VAULT_CLIENT_ID }}
        AZURE_VAULT_CLIENT_SECRET : ${{ secrets.AZURE_VAULT_CLIENT_SECRET }}
        AZURE_VAULT_TENANT_ID : ${{ secrets.AZURE_VAULT_TENANT_ID }}

      run: bash build.sh fluxzy-cli-publish

