name: win32 binaries

on:  
  push:
    branches:    
      - 'release/**'
    tags:
      - 'v*'
      
jobs:
  publish-release:
    name: "Publish release"
    strategy:
      matrix:
        osversion: [Linux]
        ostype: ['self-hosted']

    runs-on: ${{ matrix.osversion }}
    steps:
    - uses: actions/checkout@v3
      with:
        fetch-depth: 0
    - name: Setup .NET
      uses: actions/setup-dotnet@v2
      with:
        dotnet-version: 7.0.x
    - name: Add nuget package source 
      continue-on-error: true  #ignore error (package source already present on the runner)
      run: dotnet nuget add source https://nuget.pkg.github.com/haga-rak/index.json -n nuget-fluxy -u haga-rak -p ${{ secrets.TOKEN_FOR_NUGET }}
    - name: Push
      run: dotnet nuget push **/*.nupkg --skip-duplicate --api-key ${{secrets.TOKEN_FOR_NUGET}} --source https://nuget.pkg.github.com/haga-rak/index.json




          
