

<div class="main-edit">
    <div *ngIf="model">
        <div *ngIf="!done">
            <div class="text-info larger" style="margin-bottom: 16px; ">
                <i class="fa fa-info-circle text-primary"></i>
                A request to <span>{{ context.exchange.requestHeader.method}}</span>&nbsp;
                <span class="text-white" app-url-display [model]="context.exchange.fullUrl"></span> was caught and paused.
                You can edit here the underlying connection settings before continuing.

            </div>
            <div class="row">
                <div class="offset-0 col-6">
                    <div class="form-check form-switch">
                        <input  class="form-check-input" type="checkbox" id="forceNewConnection" [(ngModel)]="model.forceNewConnection">
                        <label class="form-check-label" for="forceNewConnection">Force new connection</label>

                        <div class="text-info">
                            Instead of picking and new connection from the pool, a new connection will be created.
                        </div>
                    </div>
                    <br/>

                    <div class="form-check form-switch" *ngIf="context.exchange.secure">
                        <input class="form-check-input" type="checkbox" id="skipValidation" [(ngModel)]="model.skipRemoteCertificateValidation">
                        <label class="form-check-label" for="skipValidation">Skip SSL validation</label>

                        <div class="text-info">
                            Do not verify remote server certificate
                        </div>
                    </div>
                    <br/>

                </div>
                <div class="col-6">
<!--                    <div class="text-info">-->
<!--                        Skip host resolution, use this IP-->
<!--                    </div>-->
<!--                    <div class="form-floating">-->
<!--                        <input [readOnly]="done"  type="text" class="form-control" style="width: 200px" id="floatingIpAddress"  [(ngModel)]="model.ipAddress" placeholder="host">-->
<!--                        <label for="floatingIpAddress">IP address</label>-->
<!--                    </div>-->
<!--                    <br/>-->

<!--                    <div class="text-info">-->
<!--                        Use the following instead of the one requested by downstream-->
<!--                    </div>-->
<!--                    <div class="form-floating">-->
<!--                        <input [readOnly]="done" type="number" class="form-control"  style="width: 200px" id="floatingPort"  min="1" max="65535" [(ngModel)]="model.port">-->
<!--                        <label for="floatingPort">Port</label>-->
<!--                    </div>-->
                </div>
            </div>

        </div>
        <div *ngIf="done">
            <h4>Connection details</h4>
            <div class="alert alert-info">

                <table class="table-bp-done-result">
                    <tr>
                        <td>Requested authority</td>
                        <td>{{ context.exchange.knownAuthority }}</td>
                    </tr>
                    <tr>
                        <td>Requested port</td>
                        <td>{{ model.port }}</td>
                    </tr>
                    <tr>
                        <td>Method</td>
                        <td>{{ context.exchange.method }}</td>
                    </tr>
                    <tr>
                        <td>User agent</td>
                        <td>{{ context.exchange.agent.friendlyName }}</td>
                    </tr>
                    <tr>
                        <td>Proxy client address</td>
                        <td>{{ context.exchange.metrics.localAddress ?? '-' }}</td>
                    </tr>
                    <tr>
                        <td>Proxy client port</td>
                        <td>{{ context.exchange.metrics.localPort ?? '-' }}</td>
                    </tr>
                    <tr>
                        <td>Destination IP Address</td>
                        <td>{{ model.ipAddress }}</td>
                    </tr>
                    <tr>
                        <td>Secure</td>
                        <td>{{ context.exchange.secure ? 'yes' : 'no' }}</td>
                    </tr>
                </table>
            </div>

        </div>
    </div>
    <div *ngIf="!model">
        <p class="lead  text-center">
            Not run yet
        </p>
    </div>

</div>
<div class="text-end main-edit-footer">
    <div *ngIf="done">
        <span class="text-success lead">This step is already done</span>
    </div>
    <span class=""  *ngIf="!done">
        <button  class="btn btn-warning" (click)="saveAndContinue()">Save edit and continue</button>
        &nbsp;
        <button *ngIf="!done" class="btn btn-outline-warning" (click)="continueExchange()">Skip this exchange</button>
        &nbsp;
        <button *ngIf="!done" class="btn btn-outline-warning" (click)="skip()">Skip this step</button>
    </span>
</div>
